#row_wyomind_elasticsearchlayerednavigation_settings_display {
    .tooltip-content {
        width: auto;
        max-width: 400px;
    }
    .system-config {
        background-repeat: no-repeat;
        background-size: 400px auto;
        width: 400px;
        &.small {
            background-size: 200px auto;
            width: 200px;
        }
        &.highlight-colors {
            background-image: url('../images/highlight-colors.png');
            height: 200px;
        }
        &.sliders-handler-color {
            background-image: url('../images/sliders-handler-color.png');
            height: 100px;
        }
        &.sliders-value-color {
            background-image: url('../images/sliders-value-color.png');
            height: 100px;
        }
        &.sliders-boxes {
            background-image: url('../images/sliders-boxes.png');
            height: 100px;
        }
        &.nb-items {
            background-image: url('../images/nb-items.png');
            height: 200px;
        }
        &.items-from-to {
            background-image: url('../images/items-from-to.png');
            height: 200px;
        }
        &.show-per-page {
            background-image: url('../images/show-per-page.png');
            height: 100px;
        }
        &.no-more-product {
            background-image: url('../images/no-more-product.png');
            height: 200px;
        }
        &.sort-by {
            background-image: url('../images/sort-by.png');
            height: 200px;
        }
        &.sort-by-ratings {
            background-image: url('../images/sort-by-ratings.png');
            height: 200px;
        }
        &.add-to-compare {
            background-image: url('../images/add-to-compare.png');
            height: 200px;
        }
        &.filters-disabled {
            background-image: url('../images/filters-disabled.png');
            background-size: 200px 289px;
            height: 289px;
            max-width: 200px;
        }
        &.filters-hidden {
            background-image: url('../images/filters-hidden.png');
            background-size: 200px 241px;
            height: 241px;
            max-width: 200px;
        }
        &.enable-breadcrumb {
            background-image: url('../images/enable-breadcrumb.png');
            height: 200px;
        }
        &.search-by {
            background-image: url('../images/search-by.png');
            height: 200px;
        }
        &.clear-all {
            background-image: url('../images/clear-all.png');
            height: 200px;
        }
        &.one-value-hidden {
            background-image: url('../images/one-value-hidden.png');
            max-width: 200px;
            background-size: auto;
            min-height: 330px;
        }
        &.one-value-visible {
            background-image: url('../images/one-value-visible.png');
            max-width: 200px;
            background-size: auto;
            min-height: 330px;
        }
        &.native-sort {
            background-image: url('../images/native-sort.png');
            max-width: 200px;
            background-size: auto;
            min-height: 330px;
        }
        &.alphabetical-sort {
            background-image: url('../images/alphabetical-sort.png');
            max-width: 200px;
            background-size: auto;
            min-height: 330px;
        }
        &.count-sort {
            background-image: url('../images/count-sort.png');
            max-width: 200px;
            background-size: auto;
            min-height: 330px;
        }
    }
}