@media only screen and (max-width: 767px) {
  .nav-open .nav-sections {
    z-index: 999 !important;
  }
}

// sizes
@smartphones: ~"only screen and (max-width: 767px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";
@medium: ~"only screen and (min-width: 768px) and (max-width: 1700px)";
@medium-ultimo: ~"only screen and (min-width: 768px) and (max-width: 1300px)";
@medium-ultimo2: ~"only screen and (min-width: 1301px) and (max-width: 1700px)";

// global auto complete color
@outer-border-color: lightgray;
@inner-border-color: #eeeeee; // gray

@font-face {
  font-family: 'EE-Icons';
  src: url(EE-Icons.ttf);
}

// parent block
div.block-search {
  z-index: 6; // avoid logo over the autocomplete block
  input#search {
    &.in-progress {
      background-size: 30px 30px !important;
      background: url(../../Wyomind_ElasticsearchCore/images/loader.gif) no-repeat 89% 50% white;
    }
  }

}

BODY {
  .nav-sections, .breadcrumbs, #maincontent {
    filter: none;
  }
  &.ma-no-result {
    overflow: inherit;
    div.ma-search-autocomplete-no-result {
      display: block;
    }
  }
  &.ma-autocomplete {
    overflow: hidden !important;
    div.ma-search-autocomplete {
      opacity: 1;
      overflow: inherit;
    }
    div.emsa-search-autocomplete {
      height: auto;
    }
    .sections.nav-sections {
      z-index: -2;
    }
    a.logo {
      z-index: -1;
    }
  }
}

// overlay
div.ma-overlay {
  display: block;
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  bottom: 0px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.3);

}

div.ma-search-autocomplete-no-result {
  display: none;
  border: 1px solid @outer-border-color;
  margin-top: -1px;
  z-index: 999;
  padding: 5px;
  position: absolute;
  box-shadow: grey 0px 4px 5px -2px;
  #ea-alone {
    span.section {
      display: block;
      padding: 5px 0px 5px 0px;
      position: relative;
      width: 100%;
      span.section-name {
        padding-left: 10px;
      }
    }
    .ea-suggests-grid, .ea-categories-grid, .ea-cms-grid {
      padding: 10px;
    }
    .section-amount {
      float: right;
      padding-right: 5px;
    }
  }

}

// results block
div.ma-search-autocomplete {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  display: block;
  width: 0px;
  height: 0px;
  z-index: 9;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);

  &:before {
    content: '';
    width: 0;
    height: 5px;
    display: block;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    background: transparent;
    border-top: none;
    margin-left: 75%;
    top: -12px;
    position: absolute;
    z-index: 1000;
    @media @smartphones {
      margin-left: 49%;
    }
    @media @medium {
      margin-left: 90%;
    }
  }

  // right block (toolbar / products)
  div.ma-main {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    background: white;
    flex: 1 0;
    // smartphone search form
    div.ma-smartphones-searchform {
      display: none;
      align-items: center;
      input#search-smartphones {
        width: 66%;
        margin-left: 10px;
        flex: 1 0 auto;
        margin-right: 25px;
      }
      span#filters-smartphones {
        background-color: #f0f0f0;
        box-shadow: inset 0 1px 0 0 #ffffff, inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
        border: 1px solid #cccccc;
        border-radius: 3px;
        font-weight: 400;
        left: 0;
        line-height: 16px;
        flex: 1 1 auto;
        padding: 7px 10px;
        text-align: center;
        margin-right: 10px;
        #filters-smartphones-count:not(:empty) {
          &:before {
            content: ' (';
          }
          &:after {
            content: ')';
          }
        }
      }
    }
    // Toolbar

    div.ma-toolbar {
      margin-bottom: 0px;
      display: flex;
      height: 24px;
      justify-content: space-between;
      width: auto;

      padding: 2px;
      padding-top: 15px;
      padding-bottom: 15px;
      // results count message
      div.results-count {
        flex: 1 1 auto;
        text-align: center;
      }
      // Close button
      div.close {
        display: block;
        height: 24px;
        margin-top: 2px;
        a.close {
          height: 24px;
          display: block;
          text-decoration: none;
          &:before {
            content: '\e616';
            font-family: 'EE-Icons';
            padding: 3px 6px 3px 3px;
            font-weight: bold;
          }
        }
      }
      // modes switcher (grid/list)
      div.modes {
        flex: 1 1 auto;
        max-width: 100px;
        display: block;
        margin: 0px;
        padding: 0px;
        a.modes-mode {
          position: relative;
          left: 16px;
          padding: 3px 6px;
          box-shadow: none;
          &:first-child {
            border-radius: 3px 0px 0px 3px;
          }
          &:last-child {
            border-radius: 0px 3px 3px 0px;
          }
        }
      }
      div.ma-order {

        margin-right: 10px;
        select {
          background-color: white;
          padding: 0px 25px 0px 10px;
          height: 23px;
        }
        a.action {
          &.sorter-action {
            display: none;
          }
          &.sorter-action.active {
            display: inline-block;
          }
        }
      }
    }
    // messages
    div.ma-messages {
      height: auto;

      margin-top: -1px;
      &:empty {
        display: none;
      }
      div.message {
        margin-bottom: 0px;
      }
    }

    // all results link
    div.ma-all-results {
      text-align: right;
      margin-right: 5px;
      border-top: 1px solid @inner-border-color;
      margin-top: -1px;
      padding: 5px;
      z-index: 9;
    }
    // products grid/list

  }

}

@media @smartphones {
  div.ma-search-autocomplete {
    z-index: 90;

    div.ma-main {
      // smartphone search form
      div.ma-smartphones-searchform {
        display: flex;
      }
      // Toolbar
      div.ma-toolbar {
        // modes switcher (grid/list)
        padding-bottom: 10px;
        div.modes {

          a.mode-grid:before {
            content: '\e60d';
            font-family: 'EE-Icons';
          }
          a.mode-list:before {
            content: '\e60b';
            font-family: 'EE-Icons';
          }
          a.mode-grid.active:before,
          a.mode-list.active:before {
            color: #888;
          }
          a.modes-mode {
            padding: 0px;
            background: none;
            text-decoration: none;
            &:first-child {
              margin-right: 5px;
            }
          }
        }
        div.ma-order {
          margin-top: -6px;
          position: relative;
          a.action {
            padding: 0px;
            padding-top: 5px;
            background: none;
            &:before {
              line-height: inherit;
            }
          }
        }
        div.close {
          margin-top: 0px;
        }
      }
    }
  }
}

// DEBUG PANEL
div.ma-debug {
  background: #FAFAFA;
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 300px;
  z-index: 900;
  height: auto;
  cursor: move;
  box-shadow: 0px 0px 15px -7px black;
  @media @smartphones {
    display: none;
  }
  div#ma-debug {
    display: none;
  }
  &.visible {
    div#ma-debug {
      display: block;
    }
    h3.title {
      margin-bottom: 0px;
      &:after {
        content: '\e621';
      }
    }
  }
  h3.title {
    margin-bottom: 0px;
    margin-top: 0px;
    &:after {
      margin-right: 10px;
      content: '\e622';
      font-family: EE-Icons;
      float: right;
    }
  }
  span.ma-debug-label {
    font-weight: bold;
    display: inline-block;
    width: 200px;
  }
  span.ma-debug-yes {
    color: green;
  }
  span.ma-debug-no {
    color: red;
  }
  &.ultimo {
    h3.title {
      font-size: 18px;
    }
  }

}

.ma-template-hint-container {
  border: 1px dashed cadetblue;
  margin: 2px;
}

div.ma-template-hint {
  text-align: left;
  max-height: 55px;
  white-space: nowrap;
  padding: 2px;
  background: cadetblue;
  color: #ffffff;
  font-size: 10px;
  font-family: monospace;
  overflow: hidden;
  border: 1px solid white;
  &.selected {
    background: maroon;
  }
  &:hover {
    min-width: 400px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

/************************* ULTIMO *********************************************/
// search input central
div.central-column, ul.central-column {
  div.ma-search-autocomplete {
    &:before {
      margin-left: 49%;
    }
  }
}

// search input right
div.right-column, ul.right-column {
  div.ma-search-autocomplete {
    &:before {
      @media @medium-ultimo {
        margin-left: 87%;
      }
      @media @medium-ultimo2 {
        margin-left: 83%;
      }
    }
  }
}

// search input left
div.left-column, ul.left-column {
  div.ma-search-autocomplete {
    &:before {
      margin-left: 20%;
    }
  }
}

div.searchbox-header { // smarket theme
  div.ma-search-autocomplete {
    &:before {
      margin-left: 50%;
      top: -7px;
    }
    div.ma-main {
      div.ma-toolbar {
        height: 58px;
        div.ma-order select {
          height: 32px;
        }
      }
    }
    div.ma-grid-container {
      ul.ma-grid {
        li.item {
          div.info {
            div.additional-actions {
              div.actions-secondary {
                a {
                  span {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

div#header-search.ultimo {

  // no results block
  div.ma-search-autocomplete-no-result {
    text-align: left;
  }

  // results block
  div.ma-search-autocomplete {
    // right block (toolbar  / products)
    div.ma-main {
      // Toolbar
      div.ma-toolbar {
        // modes switcher (grid/list)
        div.modes {
          a.modes-mode {
            margin-top: 0px;
            padding: 0px;
          }
        }
        div.ma-order {
          a.action.active {
            display: inline-block;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 0px;
            &:before {
              line-height: inherit;
              padding-top: 2px;
              padding-bottom: 2px;
            }
          }
        }
        // results count message
        div.results-count {
          padding: 5px;
        }
        // Close button
        div.close {
          padding-top: 3px;
        }
      }

      // messages
      div.ma-messages {
        div.message {
          text-align: left;
        }
      }
      ul.ma-grid {
        li.item {
          div.info {
            div.additional-actions {
              div.actions-primary {
                display: inline-block;
                float: none;
              }
              div.actions-secondary {
                display: inline-block;
                float: none;
                a.towishlist:before {
                  content: "\e600";
                  font-family: "EE-Icons";
                  cursor: pointer;
                  font-size: 1.2em;
                  margin-top: 5px;
                  margin-left: 5px;
                }
                a.tocompare {
                  display: inline-block;
                  &:before {
                    content: "\e61e";
                    font-family: "EE-Icons";
                    cursor: pointer;
                    font-size: 1.2em;
                    margin-top: 5px;
                    margin-left: 5px;
                  }
                }
                a.toafriend {
                  display: inline-block;
                  &:before {
                    content: "\e61d";
                    font-family: "EE-Icons";
                    cursor: pointer;
                    font-size: 1.2em;
                    margin-top: 5px;
                    margin-left: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media @smartphones {
    div.ma-search-autocomplete {
      position: fixed;
    }

    div.ma-main {
      // Toolbar
      div.ma-toolbar {
        div.modes {
          padding-top: 5px;
          margin-left: 9px;
        }
        div.ma-order {
          margin-top: 0px;
        }
        div.results-count {
          font-size: 0.8em;
        }
        div.close {
          padding-right: 5px;
        }
        padding-top: 5px;
        padding-bottom: 10px;
      }
      // search form
      div.ma-smartphones-searchform {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}
