@inner-border-color: #eeeeee; // gray

@font-face {
    font-family: 'EE-Icons';
    src: url(EE-Icons.ttf);
}

div.ma-search-autocomplete {
    div.ma-main {
        div.ma-breadcrumb {
            height: auto;
            padding: 0px 190px 7px 70px;
            border-bottom: 2px solid @inner-border-color;
            text-align: center;
            &:empty {
                //display: none;
            }
            a {
                text-decoration: none;
                color: inherit;
            }
            ol.items {
                display: inline;
                padding: 0px;
                padding-left: 10px;
                li.item {
                    .filter-label {
                        font-weight: 200 !important;
                    }
                    font-weight: 200 !important;
                    border-radius: 5px;
                    padding: 1px;
                    vertical-align: middle;
                    padding-left: 5px;
                    padding-right: 5px;
                    display: inline-block;
                    border: none;
                    margin-bottom: 0px;
                    font-size: 12px;
                    span.filter-label:after {
                        content: '';
                    }
                    span.filters {
                        background: white;
                        padding: 0 5px;
                        height: 100%;
                        display: inline-block;
                        span.filter-value {

                            &:after {
                                content: ", ";

                            }
                            &:nth-last-child(1):after {
                                content: "";
                            }
                            div.product-reviews-summary.short {
                                margin: 0px;
                                div.rating-summary {
                                    div.rating-result {
                                        top: -2px;
                                        width: 70px;
                                        &:before {
                                            font-size: 12px;
                                        }
                                        span:before {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a.action.remove {
                        padding-left: 4px;
                        position: relative !important;
                        &:before {

                            // @todo
                            color: white;
                            content: '\e616';
                            font-family: EE-Icons;
                            font-size: 0.7em;
                            cursor: pointer;
                        }
                        span {
                            display: none;
                        }
                    }
                }
                .next:not(:last-child):after {
                    content: '\e608';
                    color: black;
                    padding-left: 10px;
                    font-family: EE-Icons;
                    padding-left: 5px;
                    padding-right: 2px;
                }
            }
            // clear all action
            div.ma-clear-filters {
                margin-bottom: 0px;
                margin-top: 5px;
                margin-left: 10px;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

div#header-search.ultimo {
    div.ma-search-autocomplete {
        div.ma-main {
            div.ma-breadcrumb {
                text-align: left;
                ol.items {
                    li.item {
                        padding: 1px 7px 1px 7px;
                        span.filters {
                            padding: 3px;
                            span.filter-value {
                                div.product-reviews-summary.short {
                                    height: 12px;
                                    div.rating-summary {
                                        div.rating-result {
                                            width: 95px;
                                            top: 0px;
                                            &:before {
                                                font-size: 28px;
                                                line-height: inherit;
                                            }
                                            span {
                                                &:before {
                                                    font-size: 28px;
                                                    line-height: inherit;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}