@inner-border-color: #dddddd; // gray

@smartphones: ~"only screen and (max-width: 767px)";

@font-face {
  font-family: 'EE-Icons';
  src: url(EE-Icons.ttf);
}

div.ma-search-autocomplete {
  div.ma-layer-title-section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 300px;
    height: auto;
    font-size: 25px;
    padding: 13px 0;
    .ma-layer-title {
      padding: 0 10px;
    }
    a.ma-layer-clear-all {
      &.hide {
        display: none;
      }
      float: right;
      font-size: 15px;
      position: absolute;
      bottom: 7px;
      right: 21px;
      &:before {
        content: '\e616';
        font-family: 'EE-Icons';
        font-size: 10px;
        margin-right: 10px;
        text-decoration: none !important;
      }
    }
  }
  div.ma-layer {
    width: 300px;
    overflow-y: auto;
    margin-top: 60px;
    margin-right: -1px;
    z-index: 10;
    border-bottom: 1px solid #eeeeee;
    position: unset;

    span.back {
      display: none;
      width: 20px;
      padding-top: 10px;
      padding-left: 10px;
    }
    // one filter block
    div.ma-filter-item {
      margin: 10px;
      border-bottom: 1px solid @inner-border-color;
      input[type=checkbox] {
        display: none;
      }
      a {
        &.ma-show-more {
          display: none;
          background: none;
          text-align: right;
        }
        &.ma-show-less {
          display: block;
          background: none;
          text-align: right;
        }
      }
      // title of the filter block
      div.ma-filter-title {
        padding-bottom: 10px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        &:after {
          content: '\e622';
          float: right;
          right: 0px;
          font-family: 'EE-Icons';
          position: relative;
        }
      }
      // content of the filter block
      div.ma-filter-content {
        display: none;
        padding: 10px 30px 10px 10px;
        margin-right: -10px;
        // checkbox to select the value
        input[type="checkbox"] {
          float: left;
        }
        // content of the option
        a.filter-option {
          text-decoration: none;
          color: black;
          &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            div.disabled { // swatch and text option
              cursor: not-allowed;
            }
          }
          img.ma-option-image {
            float: left;
            margin-right: 5px;
          }
          // number of results for the option
          span.title {
            margin-left: 5px;
            display: inline-block;
            &:before {
              margin-right: 5px;
              background-color: #ffffff;
              border: 1px solid #adadad;
              color: transparent;
              float: left;
              height: 1.6rem;
              text-align: center;
              vertical-align: top;
              width: 1.6rem;
              border-radius: 1px;
              content: '';
              font-size: 0;
              transition: font-size 0.1s ease-out, color 0.1s ease-out, border-color 0.1s linear;
            }
            &.selected:before {
              content: '\2714';
              font-size: 1.3rem;
              line-height: 1.1em;
              color: #514943;
            }
          }
          span.count {
            padding-left: 10px;
            &:before {
              content: "(";
            }
            &:after {
              content: ")";
            }
          }

        }
        .swatch-attribute {
          display: inline-block;
          width:100%;
          input.elma-layer-filter {
            width: 100%;
            height: 25px;
            margin-bottom: 10px;
            padding: 6px;
          }
          a.hidden {
            display: none !important;
          }

        }
        .swatch-attribute-options.hide-more {
          a {
            &.hide1:not(.show-more):not(.show-less):nth-of-type(1n+2) {
              display: none !important;
            }
            &.hide2:not(.show-more):not(.show-less):nth-of-type(1n+3) {
              display: none !important;
            }
            &.hide3:not(.show-more):not(.show-less):nth-of-type(1n+4) {
              display: none !important;
            }
            &.hide4:not(.show-more):not(.show-less):nth-of-type(1n+5) {
              display: none !important;
            }
            &.hide5:not(.show-more):not(.show-less):nth-of-type(1n+6) {
              display: none !important;
            }
            &.hide6:not(.show-more):not(.show-less):nth-of-type(1n+7) {
              display: none !important;
            }
            &.hide7:not(.show-more):not(.show-less):nth-of-type(1n+8) {
              display: none !important;
            }
            &.hide8:not(.show-more):not(.show-less):nth-of-type(1n+9) {
              display: none !important;
            }
            &.hide9:not(.show-more):not(.show-less):nth-of-type(1n+10) {
              display: none !important;
            }
            &.hide10:not(.show-more):not(.show-less):nth-of-type(1n+11) {
              display: none !important;
            }
            &.ma-show-more {
              display: block;
            }
            &.ma-show-less {
              display: none;
            }
          }
        }
      }
      // ratings filter block
      div.ma-filter-content.ratings {
        div.rating-summary {
          div.rating-result {
            vertical-align: top;
          }
        }
      }
      // Price filter block
      div.ma-filter-content.price {
        // slider
        div.ma-price-slider {
          a.ui-slider-handle {
            font-weight: normal;
            height: 12px;
            width: 12px;
            top: -1px;
          }
        }
        div.price-range {
          font-weight: bold;
          text-align: center;
          .span {
            position: absolute;
            top: 10px;
            margin-left: 9px;
            height: 2px;
            cursor: default;
          }
          input {
            width: 50px;
            height: 20px;
            padding: 0px;
            margin: 0 4px;
            text-align: center;
          }
        }
        div.price-limit {
          font-size: 11px;
          .max {
            float: right;
          }
        }
      }
    }
    // opened filter block
    div.ma-filter-item.active {
      div.ma-filter-content {
        display: block;
        &.swatch {
          display: flex;
        }
      }
      div.ma-filter-title {
        &:after {
          content: '\e621';
        }
      }
    }
    // categlories filter block
    div.ma-filter-item[attribute-code=categories] {
      ul {
        padding-left: 10px;
        span.head {
          margin-bottom: 10px;
          display: block;
          span {
            cursor: pointer;
          }
        }
      }
      // treeview
      ul {
        li {
          list-style: none;
          &.children > span.tree {
            cursor: pointer;
            position: relative;
            border-color: #000 transparent transparent transparent;
            border-style: solid;
            border-width: .5rem .4rem 0 .4rem;
            transition: all .2s linear;
            margin-left: -13px;
            transform: rotate(-90deg);
            margin-top: 7px;
            float: left;
          }
          &.children > ul {
            display: none;
          }
          &.children {
            &.active > span.tree {
              transform: rotate(0deg);
            }
            &.active > ul {
              margin-top: 7px;
              display: block;
            }
          }
        }
      }
    }
  }
  @media @smartphones {

    div.ma-layer {
      width: 100%;
      bottom: -1px;
      position: absolute;
      transition: left 1s;
      left: 0px;
      top: -1px;
      box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
      z-index: 99;
      span.back {
        display: block;
        &:before {
          content: "\e616";
          font-family: EE-Icons;
        }
      }
    }

    div.ma-layer-title-section, div.ma-breadcrumb, .ma-toolbar .modes {
      display: none !important;
    }
  }
}

div#header-search.ultimo {
  // results block
  div.ma-search-autocomplete {
    div.ma-layer-title-section {
      .ma-layer-title {
        text-align: left;
      }
    }
    // layer block
    div.ma-layer {
      // one filter block
      div.ma-filter-item {
        // title of the filter block
        div.ma-filter-title {
          text-align: left;
        }
        // content of the filter block
        div.ma-filter-content {
          // content of the option
          a.filter-option {
            height: 20px;
            text-align: left;
          }
        }
        // ratings filter block
        div.ma-filter-content.ratings {
          div.product-reviews-summary {
            margin: 0px;
            div.rating-summary {
              div.rating-result {
                height: 14px;
                &:before {
                  line-height: inherit;
                }
                span:before {
                  line-height: inherit;
                }
              }
            }
          }
        }
      }
    }
  }
}