@inner-border-color: #eeeeee; // gray

@smartphones: ~"only screen and (max-width: 767px)";

@font-face {
    font-family: 'EE-Icons';
    src: url(EE-Icons.ttf);
}

div.ma-search-autocomplete {
    div.ma-main {
        div.ma-grid-container {
            overflow-x: hidden;
            overflow-y: auto;
            flex: 1;
            .ma-back-to-top {
                position: absolute;
                bottom: 10px;
                z-index: 5;
                right: 30px;
                padding: 10px;
                width: 27px;
                border-radius: 2px;
                text-align: center;
                transition: opacity 0.2s ease;
                opacity: 0.2;
                visibility: visible;
                &.hidden {
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.2s ease;
                }
                &:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }
                &:before {
                    content: '\e621';
                    font-family: 'EE-Icons';
                    color: white;
                    font-size: 20px;
                }
            }
            ul.ma-grid {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                padding: 0px;
                margin: 0px;
                // one product
                li.item {
                    &.ea {
                        order: 2;
                        padding: 0;
                        border: none !important;
                        text-align: center;
                        .ea-cms, .ea-category, .ea-suggest {
                            text-align: left;
                        }

                        &.first {
                            order: 0;
                        }
                        &.last {
                            order: 4;
                        }
                        &:hover {
                            box-shadow: none;
                        }
                        text-align: left;
                        span.section {
                            right: 0px;
                            display: block;
                            padding: 5px;
                            margin-top: 15px;
                            color: white;
                            span.section-amount {
                                float: right;
                            }
                            &:first-child {
                                margin-top: 0px;
                            }
                        }
                        div.ea-cms-grid,
                        div.ea-categories-grid,
                        div.ea-suggests-grid {
                            &.no-result {
                                text-align: center;
                            }
                            padding-top: 15px;
                            padding-bottom: 10px;
                        }
                        div.ea-suggests-grid span.count {
                            float: right;
                        }
                    }
                    &.after {
                        order: 3;
                    }
                    order: 1;
                    flex-flow: column nowrap;
                    position: relative;
                    width: 200px;
                    min-width: 200px;
                    min-height: 200px;
                    display: flex;
                    text-align: center;
                    padding: 0px 3px 3px 3px;
                    flex: 1 1 auto;
                    border: 1px solid @inner-border-color;
                    margin: 19px;
                    strong.product-item-name {
                        a.product-item-link {
                            font-weight: bold;
                        }
                    }
                    &.no-more {
                        order: 3;
                        border: 1px solid transparent;
                        display: flex;
                        justify-content: center;
                        color: lightgrey;
                        &:hover {
                            box-shadow: none;
                        }
                    }
                    &.empty {
                        order: 3;
                        min-height: 20px;
                        border: 1px solid transparent !important;
                        &:hover {
                            box-shadow: none;
                        }
                    }
                    &:hover {
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

                    }

                    div.loader {
                        display: none;
                        background: url(../../Wyomind_ElasticsearchCore/images/loader.gif) no-repeat 50% 50% white;
                        opacity: 0.8;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        margin-top: -3px;
                        margin-left: -3px;
                        z-index: 99;
                        &.active {
                            display: block;
                        }
                    }
                    span.product-image-container img {
                        height: 200px;
                        min-height:200px;
                    }
                    div.description-box {
                        display: none;
                    }
                    div.image {
                        flex: 0 0 auto;
                    }
                    div.info {
                        flex: 0 1 auto;
                        padding-left: 15px;
                        padding-right: 15px;
                        p.old-price {
                            span.price {
                                text-decoration: line-through;
                            }
                        }
                        div.price-box.price-final_price {
                            padding-top: 15px;
                            padding-bottom: 15px;
                            span.price {
                                font-weight: bold;
                            }
                        }
                        div.swatch-opt {
                            div.swatch-attribute {
                                div.swatch-attribute-options {
                                    div.swatch-option {
                                        float: none;
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                        div.additional-actions {
                            padding-bottom: 20px;
                            div.tocart {
                                display: inline-block;
                                button.tocart {
                                    &:before {
                                        content: '\e611';
                                        font-family: 'EE-Icons';

                                    }
                                    span {
                                        display: none;
                                    }
                                }
                            }
                            div.actions-secondary {
                                display: inline;
                                a.towishlist {
                                    &:before {
                                        content: "\e600";
                                        font-family: "EE-Icons";
                                        cursor: pointer;
                                    }
                                }
                                a.tocompare {
                                    &:before {
                                        content: "\e61e";
                                        font-family: "EE-Icons";
                                        cursor: pointer;
                                    }
                                }
                                a.toafriend {
                                    &:before {
                                        content: "\e61d";
                                        font-family: "EE-Icons";
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                    span.swatch-error {
                        display: none;
                        color: red;
                        font-size: 0.7em;
                        &.error {
                            display: block
                        }
                    }
                }

            }
            // list mode
            ul.ma-grid.list {
                flex-flow: column;
                // one product
                li.item {

                    display: flex;
                    flex-flow: row;
                    width: auto;
                    text-align: left;
                    flex: 100 0 auto;
                    &.empty {
                        display: none;
                    }

                    &.ea {
                        order: 0;
                        flex-flow: column;
                        text-align: center;
                        .ea-cms, .ea-category, .ea-suggest {
                            text-align: left;
                        }

                    }
                    div.image {
                        flex: 0 0 auto;
                        padding: 20px;
                    }
                    div.description-box {
                        display: block;
                    }
                    div.info {
                        a.product-item-link {
                            font-weight: bold !important;
                        }
                    }
                }
            }
        }
    }
}

@media @smartphones {
    div.ma-search-autocomplete {
        z-index: 90;
        div.ma-main {
            // products grid/list
            div.ma-grid-container {
                ul.ma-grid {
                    // one product
                    li.item {
                        width: 150px;
                        span.product-image-container img {
                            height: 150px;
                        }
                        div.info {
                            div.product-item-actions {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}