<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="admin__control-wysiwig">
    <div id="buttonspagebuilder_html_form_nosto" class="buttons-set">
        <button type="button"
                class="scalable action-add-widget plugin"
                click="clickInsertWidget">
            <span>
                <span>
                    <span translate="'Insert Widget...'"/>
                </span>
            </span>
        </button>
        <button type="button"
                class="scalable action-add-image plugin"
                click="clickInsertImage">
            <span>
                <span>
                    <span translate="'Insert Image...'"/>
                </span>
            </span>
        </button>
        <button type="button"
                class="scalable add-variable plugin"
                click="clickInsertVariable">
            <span>
                <span>
                    <span translate="'Insert Variable...'"/>
                </span>
            </span>
        </button>
    </div>
</div>
<textarea class="admin__control-textarea" data-bind="
    value: value,
    valueUpdate: valueUpdate,
    hasFocus: focused,
    attr: {
        name: inputName,
        cols: cols,
        rows: rows,
        'aria-describedby': noticeId,
        placeholder: placeholder,
        id: uid,
        disabled: disabled
    }"
/>
