<!--@subject {{var store_name}}: Pending products notification for {{var vendor.vendor_name}} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr>
        <td>
            <p>The following products are pending and waiting for site administrator approve:</p>

            {{var notification_grid|raw}}

            <p>All the best,<br/><a href="{{store url=''}}">{{var store_name}}</a></p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}