<!--@subject {{var store_name}}: Approved products notification @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr>
        <td>
            <p><strong>Dear {{var vendor.vendor_name}},</strong></p>

            <p>The following products were approved by site administrator:</p>

            {{var notification_grid|raw}}

            <p>Thanks again for being a Partner Producer!</p>

            <p>All the best,<br/><a href="{{store url=''}}">{{var store_name}}</a></p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
