<?php $count = $block->getData('count'); ?>
<?php $infiniteScroll = $block->getData('infiniteScroll'); ?>
<?php $labels = $block->getData('labels'); ?>
<?php $from = $block->getData('from'); ?>
<?php $to = $block->getData('to'); ?>

<div id="product-amount" class="product-amount">
    <p class="toolbar-amount" id="toolbar-amount">
        <?php if ($count > 0) : ?>
            <?php if ($infiniteScroll) : ?>
                <?= /* @noEscape */ str_replace("{{nbItems}}", $count, $labels["nb_items"]); ?>
            <?php else: ?>
                <?= /* @noEscape */ str_replace(["{{from}}", "{{to}}", "{{nbItems}}"], [$from, $to, $count], $labels["items_from_to"]); ?>
            <?php endif; ?>
        <?php endif; ?>
    </p>
</div>