<script id="eln-product-amount-template" type="text/x-magento-template">
    <p class="toolbar-amount" id="toolbar-amount">
        <% if (count > 0) { %>
        <% if (infiniteScroll) { %>
        <%= labels.nb_items.replace("{{nbItems}}", count) %>
        <% } else { %>
        <%= labels.items_from_to.replace("{{from}}", from).replace("{{to}}", to).replace("{{nbItems}}", count) %>
        <% } %>
        <% } %>
    </p>
</script>
