<?php
/**
 * Copyright © 2019 Wyomind. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>

<script id="eln-product-count-template" type="text/x-magento-template">
    <p class="toolbar-count" id="toolbar-count">
        <% if (count > 0) { %>
        <%= labels.nb_items.replace("{{nbItems}}", count) %>
        <% } %>
    </p>
</script>
