<?php
$frontendHelper = $this->helper('Wyomind\ElasticsearchMultifacetedAutocomplete\Helper\Frontend');
$swatchMediaUrl = $frontendHelper->getBaseMediaUrl();
?>

<script id="ma-product-attribute-filter-template" type="text/x-magento-template">
    <div class="ma-filter-item" attribute-code="<%= attributeCode %>" data-role="ma-product-attribute-filter-content">
        <div class="ma-filter-title"><%= filter.label %></div>
        <div class="ma-filter-content">
            <div class="swatch-attribute-options clearfix hide-more">
                <div class="swatch-attribute">
                    <% if (showLayerFilter) { %>
                    <input type="text" class="elma-layer-filter"/>
                    <% } %>
                    <% _.each(filter.values, function(data,i) { %>
                    <a href="#" class="<% if (showMoreLess == 1) { %>hide<%= showMoreLessNbValues %> <% } %>ma-filter-option filter-option <% if (data.count == 0) { %>disabled<% } %>" style="display:block" attribute-code="<%= attributeCode %>" option-id="<%= data.id %>">
                        <input type="checkbox" <% if (_.has(selected, data.id)) { %>checked="checked"<% } %>/>
                        <div data-filter="<%= data.label.toLowerCase() %>" title="<%= data.label %><% if (showResultsCount == 1 && data.count > 0) { %> (<%= data.count %>)<% } %>" style="float: none;max-width: 100%;width: 100%;">
                          <span class="title <% if (_.has(selected, data.id)) { %>selected<% } %>">
                              <% if (data.image != "") { %>
                                  <img class='ma-option-image' src="<?= $swatchMediaUrl ?><%= data.image %>" width="20" height="20"/>
                              <% } %>
                              <%= data.label %></span>
                            <% if (showResultsCount == 1 && data.count > 0) { %><span class="count"><%= data.count %></span><% } %>
                        </div>
                    </a>
                    <% }) %>
                </div>
                <% if (_.size(filter.values) > showMoreLessNbValues && showMoreLess) { %>
                <a class="ma-show-more wyomind-primary-color" href="#"><?= __('Show more'); ?></a>
                <a class="ma-show-less wyomind-primary-color" href="#"><?= __('Show less'); ?></a>
                <% } %>
            </div>
        </div>
    </div>
</script>
