<script id="ma-product-category-filter-template" type="text/x-magento-template">
    <div class="ma-filter-item" attribute-code="categories" data-role="ma-product-category-filter-content">
        <div data-role="title" class="ma-filter-title"><?php echo __("Categories"); ?></div>
            <div class="ma-filter-content">
                <ul id="ma-product-category-filter"></ul>
            </div>
        </div>
    </div>
</script>

<script id="ma-product-category-item-filter-template" type="text/x-magento-template">
    <li<% if (category.children) { %> class="children <% if (category.count < 0) { %>disabled<% } %>"<% } %> category-id="<%= category.id %>" data-role="ma-product-category-filter-item-filter-content">
        <span class="tree"/>
        <a href="#" class="ma-filter-option filter-option <% if (category.count < 0) { %>disabled<% } %>" style="display:block" attribute-code="categories_ids" option-id="<%= category.id %>">
          <input type="checkbox" <% if (selected) { %>checked="checked"<% } %>/>
          <div title="<%= category.label %><% if (showResultsCount == 1 && category.count > 0) { %> (<%= category.count %>)<% } %>" style="float: none;max-width: 100%;width: 100%;">
            <span class="title <% if (selected) { %>selected<% } %>" category-id="<%= category.id %>"><%= category.label %></span><% if (showResultsCount == 1 && category.count > 0) { %><span class="count"><%= category.count %></span><% } %>
          </div>
        </a>
        <ul id="ma-category-<%= category.id %>"></ul>
    </li>
</script>
