<script id="ma-product-prices-filter-template" type="text/x-magento-template">
    <div class="ma-filter-item" attribute-code="final_price" data-role="ma-product-prices-filter-content">
        <div data-role="title" class="ma-filter-title"><?php echo __("Price"); ?></div>
            <div class="ma-filter-content price">
                <div class="ma-price-slider"></div>
                <div class="price-range a-center">
                    <span class="from wyomind-primary-color"><%= _.getFormattedPrice(valMin) %></span> - <span class="to wyomind-primary-color"><%= _.getFormattedPrice(valMax) %></span>
                    <% if (displayInputBoxesForPriceFilter) { %>
                    <div>
                        <input type="text" class="ma-price min input-text" placeholder="min" value="<% if (valMin != min) { %><%- parseFloat(valMin).toFixed(2) %><% } %>">
                        <input type="text" class="ma-price max input-text" placeholder="max" value="<% if (valMax != max) { %><%- parseFloat(valMax).toFixed(2) %><% } %>">
                    </div>
                    <% } %>
                </div>
                <div class="price-limit">
                    <div class="max"><%= _.getFormattedPrice(max) %></div>
                    <div class="min"><%= _.getFormattedPrice(min) %></div>
                </div>
            </div>
    </div>
</script>