<script id="ma-product-ratings-filter-template" type="text/x-magento-template">
    <div class="ma-filter-item" attribute-code="rating" data-role="ma-product-ratings-filter-content">
        <div data-role="title" class="ma-filter-title"><?php echo __("Rating"); ?></div>
        <div class="ma-filter-content ratings">
            <div class="swatch-attribute-options clearfix">
                <div class="swatch-attribute">
                    <% _.each(ratings, function(count, rating) { %>
                    <a href="#" class="ma-filter-option filter-option rating <% if (!count) { %>disabled<% } %>" style="display:block" attribute-code="rating" option-id="<%= rating %>">
                        <input type="checkbox" <% if (_.has(selected, rating)) { %>checked="checked"<% } %>/>
                        <% if (rating == -1) { %>
                        <span title="<?= __('No rating') ?><% if (showResultsCount == 1  && count > 0) { %> (<%= count %>)<% } %>" id="rating-filter--1" class="title <% if (_.has(selected, -1)) { %> selected <% } %>"><?= __("No rating") ?></span><% if (showResultsCount == 1  && count > 0) { %><span class="count"><%= count %></span><% } %>
                        <% } else { %>
                        <span id="rating-filter-<%= rating %>" class="title <% if (_.has(selected, rating)) { %> selected <% } %>">
                            <div title="<%= rating %>%<% if (showResultsCount == 1  && count > 0) { %> (<%= count %>)<% } %>" style="float: none;max-width: 100%;width: 100%; display:inline">
                                <div class="product-reviews-summary short" style="display:inline-block">
                                    <div class="rating-summary">
                                        <span class="label"><span><?= __("Rating:") ?></span></span>
                                        <div class="rating-result" title="<%= rating %>%<% if (showResultsCount == 1  && count > 0) { %> (<%= count %>)<% } %>">
                                            <span style="width:<%= rating %>%"><span><%= rating %>%</span></span>
                                        </div>
                                    </div>
                                    <?php // echo __("& up"); ?>
                                </div>
                            </div>
                        </span>
                        <% if (showResultsCount == 1 && count > 0) { %><span class="count"><%= count %></span><% } %>
                        <% } %>
                    </a>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</script>