<?php
$configHelper = $this->helper('Wyomind\ElasticsearchCore\Helper\Config');
?>
<script id="ma-product-visual-swatch-filter-template" type="text/x-magento-template">
    <div class="ma-filter-item" attribute-code="<%= attributeCode %>" data-role="ma-product-visual-swatch-filter-content">
        <div data-role="title" class="ma-filter-title"><%= filter.label %></div>
        <div id="ma-swatch-filter-content" class="ma-filter-content swatch">
            <div class="swatch-attribute-options clearfix hide-more">
                <div class="swatch-attribute swatch-layered">
                    <% _.each(filter.values, function(data,i) { %>
                    <a href="#" class="<% if (showMoreLess == 1) { %>hide<%= showMoreLessNbValues %> <% } %>filter-option swatch-option-link-layered <% if (data.count == 0) { %>disabled<% } %>" attribute-code="<%= attributeCode %>" option-id="<%= data.id %>">
                        <% if (data.type == 2) { %>
                        <div option-tooltip-value="<%= data.data %>" class="swatch-option color <% if (_.has(selected, data.id)) { %> selected <% } %> <% if (data.count == 0) { %>disabled<% } %>" title="<%= data.label %><% if (showResultsCount == 1 && data.count > 0) { %> (<%= data.count %>)<% } %>" style="background: url('/<?php echo $configHelper->getEnablePubFolder()?"pub/":""; ?>media/attribute/swatch<%= data.data %>'); no-repeat center; background-size: 100%;"></div>
                        <% } else { %>
                        <div option-tooltip-value="<%= data.data %>" class="swatch-option color <% if (_.has(selected, data.id)) { %> selected <% } %> <% if (data.count == 0) { %>disabled<% } %>" title="<%= data.label %><% if (showResultsCount == 1 && data.count > 0) { %> (<%= data.count %>)<% } %>" style="background: <%= data.data %> no-repeat center; background-size: initial;"></div>
                        <% } %>
                    </a>
                    <% }) %>
                </div>
                <% if (_.size(filter.values) > showMoreLessNbValues && showMoreLess == 1) { %>
                <a class="ma-show-more wyomind-primary-color" href="#"><?= __('Show more'); ?></a>
                <a class="ma-show-less wyomind-primary-color" href="#"><?= __('Show less'); ?></a>
                <% } %>
            </div>
        </div>
    </div>
</script>
