<?php
/* @var $block \RocketWeb\ShoppingFeeds\Block\Adminhtml\Feed\Edit\Form\Options\Renderer\Static */
?>
<div>
    <span><?php echo $block->escapeHtml(__('Value:')) ?></span>
    <input type="text" name="#{htmlName}[#{index}][param]" value="#{param}" class="" />
</div>