#row_wyomind_elasticsearchmultifacetedautocomplete_settings_display {
    .tooltip-content {
        width: auto;
        max-width: 400px;
    }
    .system-config {
        background-repeat: no-repeat;
        background-size: 400px auto;
        width: 400px;
        &.small {
            background-size: 200px auto;
            width: 200px;
        }
        &.vertical {
            background-size: 200px 500px;
            width: 200px;
            height:500px;
        }
        &.highlight-colors {
            background-image: url('../images/highlight-colors.png');
            height: 200px;
        }
        &.filters-disabled {
            background-image: url('../images/filters-disabled.png');
            background-size: 200px 289px;
            height: 289px;
            max-width: 200px;
        }
        &.filters-hidden {
            background-image: url('../images/filters-hidden.png');
            background-size: 200px 241px;
            height: 241px;
            max-width: 200px;
        }
        &.sliders-boxes {
            background-image: url('../images/sliders-boxes.png');
            height: 100px;
        }
        &.sort-by-ratings {
            background-image: url('../images/sort-by-ratings.png');
            height: 200px;
        }
        &.enable-breadcrumb {
            background-image: url('../images/enable-breadcrumb.png');
            height: 200px;
        }

        &.search-by {
            background-image: url('../images/search-by.png');
            height: 200px;
        }

        &.clear-all {
            background-image: url('../images/clear-all.png');
            height: 200px;
        }

        &.nb-products-found {
            background-image: url('../images/nb-products-found.png');
            height: 200px;
        }

        &.your-search {
            background-image: url('../images/your-search.png');
            height: 200px;
        }

        &.no-more-product {
            background-image: url('../images/no-more-product.png');
            height: 200px;
        }
        &.back-to-top {
            background-image: url('../images/back-to-top.png');
            height: 200px;
            width:300px;
            background-size: auto 200px;
        }
        &.add-to-cart {
            background-image: url('../images/add-to-cart.png');
        }

        &.add-to-compare {
            background-image: url('../images/add-to-compare.png');
        }
        &.add-to-wishlist {
            background-image: url('../images/add-to-wishlist.png');
        }
        &.configurable-attributes {
            background-image: url('../images/configurable-attributes.png');
        }
        &.display-ratings {
            background-image: url('../images/display-ratings.png');
        }
        &.email-to-friend {
            background-image: url('../images/email-to-friend.png');
        }
    }
}