ul.sortable {
    list-style: none;
    margin-right: 10px;
    li {
        background-color: #eee;
        cursor: pointer;
        font-size: 14px;
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
    }
}
