<?php
/** @var \Unirgy\Dropship\Helper\Data $_hlp */
$_hlp = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Helper\Data');
$_rHlp = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\DropshipVendorReport\Helper\Data');
$vendor = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Model\Session')->getVendor();
$showTax = in_array($vendor->getStatementTaxInPayout(), ['', 'include']);
$showDiscount = in_array($vendor->getStatementDiscountInPayout(), ['', 'include']);
$showShipping = in_array($vendor->getStatementShippingInPayout(), ['', 'include']);
$hasPayout = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Helper\Data')->isModuleActive('Unirgy_DropshipPayout') && 'po' != $vendor->getStatementPoType();
$columns = [
    'period','pos_count','subtotal','trans_fee','com_amount','adj_amount'
];
if ($showTax) $columns[] = 'tax';
if ($showDiscount) $columns[] = 'discount';
if ($showShipping) $columns[] = 'shipping';
$columns[] = 'total_payout';
if ($hasPayout) {$columns[] = 'total_paid';$columns[] = 'total_due';}
$filter = (array)$this->getRequest()->getParam('filter');
$statuses = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Model\Source')->setPath('shipment_statuses')->toOptionHash();
$reportTypes = [
    'created_at_order'=>__('Order Created Date'),
    'created_at_shipment'=>__('Shipment Created Date'),
    'statement_date'=>__('Statement Ready Date'),
];
$periodTypes = [
    'day'   => __('Day'),
    'month' => __('Month'),
    'year'  => __('Year')
];
?>
<form method="get">
    <fieldset>
        <div class="generic-box col1-set">
            <div class="col-1">
                <ul class="form-list">
                    <li class="wide">
                        <label for="filter-report_type"><?php echo __('Match Period To') ?></label><br/>
                        <select id="filter-report_type" name="filter[report_type]" style="">
                            <?php $_rType = (array)@$filter['report_type'] ?>
                            <?php foreach ($reportTypes as $_rt=>$_rtLbl):  ?>
                            <option value="<?php echo $_rt?>" <?php echo $_rt==$_rType?'selected="selected"':'' ?>><?php echo $_rtLbl ?></option>
                            <?php endforeach; ?>
                        </select>
                    </li>
                    <li class="wide">
                        <label for="filter-period_type"><?php echo __('Period') ?></label><br/>
                        <select id="filter-period_type" name="filter[period_type]" style="">
                            <?php $_rType = (array)@$filter['period_type'] ?>
                            <?php foreach ($periodTypes as $_rt=>$_rtLbl):  ?>
                            <option value="<?php echo $_rt?>" <?php echo $_rt==$_rType?'selected="selected"':'' ?>><?php echo $_rtLbl ?></option>
                            <?php endforeach; ?>
                        </select>
                    </li>
                    <li class="wide">
                        <label for="filter-from"><?php echo __('From') ?></label><br/>
                        <input id="filter-from" name="filter[from]" title="<?php echo __('From') ?>" type="text" class="input-text" style="" value="<?php echo @$filter['from'] ?>" />
                    </li>
                    <li class="wide">
                        <label for="filter-to"><?php echo __('To') ?></label><br/>
                        <input id="filter-to" name="filter[to]" title="<?php echo __('To') ?>" type="text" class="input-text" style="" value="<?php echo @$filter['to'] ?>" />
                    </li>

                    <li class="wide">
                        <label for="filter-show_po_statuses"><?php echo __('Shipment Status') ?></label><br/>
                        <select id="filter-show_po_statuses" name="filter[show_po_statuses]" title="<?php echo __('Shipment Status') ?>"  style="">
                            <?php $_showStatus = @$filter['show_po_statuses'] ?>
                            <option value="" <?php echo $_showStatus===''?'selected="selected"':'' ?>><?php echo __('Any') ?></option>
                            <option value="1" <?php echo $_showStatus==='1'?'selected="selected"':'' ?>><?php echo __('Specified') ?></option>
                        </select>
                    </li>
                    <li class="wide">
                        <select id="filter-po_statuses" name="filter[po_statuses][]" multiple="multiple" style="height: 150px">
                        <?php $_status = (array)@$filter['po_statuses'] ?>
                        <?php foreach ($statuses as $_st=>$_stLbl):  ?>
                            <option value="<?php echo $_st?>" <?php echo in_array($_st, $_status)?'selected="selected"':'' ?>><?php echo $_stLbl ?></option>
                        <?php endforeach; ?>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="buttons-set">
                <input type="submit" value="show" style="display:none" />

                <button class="form-button" name="submit_action" type="submit" id="filter-show" value="search"><span><?php echo __('Show Report') ?></span></button>

            </div>
        </div>
    </fieldset>
</form>

<?php echo $this->getShowPoStatusJs()?>

<script type="text/x-magento-init">
{
    "#filter-from, #filter-to": <?php echo json_encode(
        [
            'calendar' => [
                'dateFormat' => $_hlp->getDateFormat(),
                'showsTime' => false,
                'timeFormat' => '',
                'buttonText' => 'Select Date',
            ],
        ]
    ); ?>
}
</script>

<table cellspacing="0" cellpadding="0" class="data-table">
    <col width="" />
    <col width="" />
    <col width="" />
    <col width="" />
    <col width="" />
    <col width="" />
    <?php if ($showTax): ?>
        <col width="" />
    <?php endif ?>
    <?php if ($showDiscount): ?>
        <col width="" />
    <?php endif ?>
    <?php if ($showShipping): ?>
        <col width="" />
    <?php endif ?>
    <col width="" />
    <?php if ($hasPayout): ?>
        <col width="" />
        <col width="" />
    <?php endif ?>
    <thead>
    <tr>
        <th><?php echo __('Period')?></th>
        <th><?php echo __('#of POs')?></th>
        <th><?php echo __('Subtotal')?></th>
        <th><?php echo __('Transaction Fee')?></th>
        <th><?php echo __('Commission Amount')?></th>
        <th><?php echo __('Adjustment')?></th>
        <?php if ($showTax): ?>
        <th><?php echo __('Tax Amount')?></th>
        <?php endif ?>
        <?php if ($showDiscount): ?>
        <th><?php echo __('Discount')?></th>
        <?php endif ?>
        <?php if ($showShipping): ?>
        <th><?php echo __('Shipping')?></th>
        <?php endif ?>
        <th><?php echo __('Total Payout')?></th>
        <?php if ($hasPayout): ?>
            <th><?php echo __('Total Paid')?></th>
            <th><?php echo __('Total Due')?></th>
        <?php endif ?>
    </tr>
    </thead>
    <tbody>
    <?php if (!$this->getCollection()->getSize() && $this->getRequest()->getParam('submit_action')): ?>
        <tr>
            <td colspan=10 style="text-align: center">
                <h3><?php echo __('No records found.')?></h3>
            </td>
        </tr>
    <?php endif ?>
    <?php foreach ($this->getCollection() as $_item): ?>
        <tr>
            <?php foreach ($columns as $_columnName): $_column = $this->getColumn($_columnName); ?>
            <td class="<?php echo $_column->getCssProperty() ?>">
                <?php echo (($_html = $_column->getRowField($_item)) != '' ? $_html : '&nbsp;') ?>
            </td>
            <?php endforeach; ?>
        </tr>
    <?php endforeach ?>
    </tbody>
    <tfoot>
    <?php if ($this->getCollection()->getSize()):?>
    <tr class="totals">
        <?php foreach ($columns as $_columnName): $_column = $this->getColumn($_columnName); ?>
            <th class="<?php echo $_column->getCssProperty() ?>"><?php echo ($_column->hasTotalsLabel()) ? $_column->getTotalsLabel() : $_column->getRowField($_column->getGrid()->getTotals()) ?>&nbsp;</th>
        <?php endforeach; ?>
    </tr>
    <?php endif ?>
    </tfoot>
</table>