<?php
/* @var $block \RocketWeb\ShoppingFeedsGoogle\Block\Adminhtml\Feed\Edit\Form\Options\Renderer\ItemGroupId */
?>

<div>
    <span><?php echo $block->escapeHtml(__('Attribute:')) ?></span>
    <select name="#{htmlName}[#{index}][param]" class="select">
        <?php foreach ($block->getAttributeOptions() as $option): ?>
            <option value="<?php echo $block->escapeHtml($option['value']) ?>"><?php echo $block->escapeHtml($option['label']) ?></option>
        <?php endforeach; ?>
    </select>
</div>
<p class="note"><?php echo $block->escapeHtml(__("Select an attribute like UPC, EAN or ISBN. When the attribute's value is missing for a configurable or grouped item, will fetch the value from lowest priced associated item, and if empty for a bundle, will go for the higherst priced sub-item.")) ?></p>
