<!--@subject {{var store.getFrontendName()}}: Order # {{var order_id}} update @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr>
        <td>
            <p>
                <strong>Dear {{var vendor_name}},</strong><br/>
                Store administrator added comment for the order # {{var order_id}} ({{var shipment_status}})
                <br/>
            </p>

            <p>{{var comment}}</p>

            <p><a href="{{var shipment_url}}">Click here to logon to your shipping control panel</a></p>

            <p>Thank you for your partnership.</p>

            <p><a href="{{store url=''}}">{{var store_name}}</a></p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
