<div class="size-chart-header">
    <h3>Men's Shoes Size Chart </h3>
</div>
<div class="mpcss size-chart-main">
    <div class="size-chart-main-table">
        <table>
            <tr>
                <th>FOOT LENGTH<br>(centimeters)</th>
                <th>EU SIZE</th>
                <th>UK SIZE</th>
                <th>US SIZE</th>
            </tr>
            <tr>
                <td><b>23.7</b></td>
                <td>38.5</td>
                <td>5.5</td>
                <td>6</td>
            </tr>
            <tr>
                <td><b>24.1</b></td>
                <td>39</td>
                <td>6</td>
                <td>6.5</td>
            </tr>
            <tr>
                <td><b>24.5</b></td>
                <td>40</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td><b>25</b></td>
                <td>40.5</td>
                <td>6.5</td>
                <td>7.5</td>
            </tr>
            <tr>
                <td><b>25.4</b></td>
                <td>41</td>
                <td>7</td>
                <td>8</td>
            </tr>
            <tr>
                <td><b>25.8</b></td>
                <td>42</td>
                <td>7.5</td>
                <td>8.5</td>
            </tr>
            <tr>
                <td><b>26.2</b></td>
                <td>42.5</td>
                <td>8</td>
                <td>9</td>
            </tr>
            <tr>
                <td><b>26.7</b></td>
                <td>43</td>
                <td>8.5</td>
                <td>9.5</td>
            </tr>
            <tr>
                <td><b>27.1</b></td>
                <td>44</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr>
                <td><b>27.5</b></td>
                <td>44.5</td>
                <td>9.5</td>
                <td>10.5</td>
            </tr>
            <tr>
                <td><b>27.9</b></td>
                <td>45</td>
                <td>10</td>
                <td>11</td>
            </tr>
            <tr>
                <td><b>28.3</b></td>
                <td>45.5</td>
                <td>10.5</td>
                <td>11.5</td>
            </tr>
            <tr>
                <td><b>28.8</b></td>
                <td>46</td>
                <td>11</td>
                <td>12</td>
            </tr>
            <tr>
                <td><b>29.2</b></td>
                <td>47</td>
                <td>11.5</td>
                <td>12.5</td>
            </tr>
            <tr>
                <td><b>29.6</b></td>
                <td>47.5</td>
                <td>12</td>
                <td>13</td>
            </tr>
            <tr>
                <td><b>30</b></td>
                <td>48</td>
                <td>12.5</td>
                <td>13.5</td>
            </tr>
            <tr>
                <td><b>30.5</b></td>
                <td>48.5</td>
                <td>13</td>
                <td>14</td>
            </tr>
            <tr>
                <td><b>31.3</b></td>
                <td>49.5</td>
                <td>14</td>
                <td>15</td>
            </tr>
            <tr>
                <td><b>32.2</b></td>
                <td>50.5</td>
                <td>15</td>
                <td>16</td>
            </tr>
            <tr>
                <td><b>33</b></td>
                <td>51.5</td>
                <td>16</td>
                <td>17</td>
            </tr>
            <tr>
                <td><b>33.9</b></td>
                <td>52.5</td>
                <td>17</td>
                <td>18</td>
            </tr>
        </table>
    </div>
</div>