<div class="size-chart-header">
    <h3>Men's Bottoms Size Chart </h3>
</div>
<div class="mpcss size-chart-main">
    <div class="size-chart-main-image col-md-4 col-xs-12">
        <img src="{{view url=Mageplaza_SizeChart/media/images/size-chart-men.png}}">
    </div>
    <div class="size-chart-main-table col-md-8 col-xs-12">
        <div class="size-chart-main-text"><p>This size chart is to determine your bottoms' size. If any of your
            measurement is on the borderline between two sizes, you can pick the smaller size for a tighter fit or the
            larger size for a looser fit. If your hip and waist measurements correspond to two different suggested
            sizes, you should order the one which is indicated by the measurement of your hips.</p></div>

        <h4>SIZE CHART</h4>
        <table>
            <tr>
                <th>Size</th>
                <th>Waist (cm)</th>
                <th>Hip (cm)</th>
            </tr>
            <tr>
                <td>XS</td>
                <td>69.5-74.5</td>
                <td>83.5-88.5</td>
            </tr>
            <tr>
                <td>S</td>
                <td>74.5-79.5</td>
                <td>88.5-93.5</td>
            </tr>
            <tr>
                <td>M</td>
                <td>79.5-85</td>
                <td>93.5-98.5</td>
            </tr>
            <tr>
                <td>L</td>
                <td>85-91</td>
                <td>98.5-103.5</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>91-97</td>
                <td>103.5-108.5</td>
            </tr>
            <tr>
                <td>XXL</td>
                <td>97-103</td>
                <td>108.5-113.5</td>
            </tr>
        </table>
    </div>
</div>