<div class="size-chart-header">
    <h3>Men's Tops Size Chart </h3>
</div>
<div class="mpcss size-chart-main">
    <div class="size-chart-main-image col-md-4 col-xs-12">
        <img src="{{view url=Mageplaza_SizeChart/media/images/size-chart-men.png}}">
    </div>
    <div class="size-chart-main-table col-md-8 col-xs-12">
        <div class="size-chart-main-text"><p>This size chart is to determine your top's size. If any of your measurement
            is on the borderline between two sizes, you can pick the smaller size for a tighter fit or the larger size
            for a looser fit. If your chest and waist measurements correspond to two different suggested sizes, you
            should order the one which is indicated by the measurement of your chest.</p></div>

        <h4>SIZE CHART</h4>
        <table>
            <tr>
                <th>Size</th>
                <th>CHEST (cm)</th>
                <th>WAIST (cm)</th>
                <th>HIPS (cm)</th>
            </tr>
            <tr>
                <td>X-Small</td>
                <td>< 88</td>
                <td>< 73</td>
                <td>< 88</td>
            </tr>
            <tr>
                <td>Small</td>
                <td>88–96</td>
                <td>73–81</td>
                <td>88–96</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>96–104</td>
                <td>81–89</td>
                <td>96–104</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>104–112</td>
                <td>89–97</td>
                <td>104–112</td>
            </tr>
            <tr>
                <td>X-Large</td>
                <td>112–124</td>
                <td>97–109</td>
                <td>112–120</td>
            </tr>
            <tr>
                <td>XX-Large</td>
                <td>124–136</td>
                <td>109–121</td>
                <td>120–128</td>
            </tr>
            <tr>
                <td>XXX-Large</td>
                <td>136–148</td>
                <td>121–133</td>
                <td>128–136</td>
            </tr>
            <tr>
                <td>XXXX-Large</td>
                <td>147-160</td>
                <td>133-145</td>
                <td>136-145</td>
            </tr>
        </table>
    </div>
</div>