<div class="size-chart-header">
    <h3>Women's Bottoms Size Chart </h3>
</div>
<div class="mpcss size-chart-main">
    <div class="size-chart-main-image col-md-4 col-xs-12">
        <img src="{{view url=Mageplaza_SizeChart/media/images/size-chart-women.png}}">
        <div class="size-chart-main-text"><p>This size chart is to determine your bottoms' size. If any of your
            measurement is on the borderline between two sizes, you can pick the smaller size for a tighter fit or the
            larger size for a looser fit. If your hip and waist measurements correspond to two different suggested
            sizes, you should order the one which is indicated by the measurement of your hips.</p></div>
    </div>
    <div class="size-chart-main-table col-md-8 col-xs-12">
        <h4>SIZE CHART</h4>
        <table>
            <tr>
                <th>Size</th>
                <th>AVERAGE EU SIZE**</th>
                <th>WAIST (cm)</th>
                <th>HIPS (cm)</th>
            </tr>
            <tr>
                <td>XS</td>
                <td>32–34</td>
                <td>60–67</td>
                <td>84–91</td>
            </tr>
            <tr>
                <td>S</td>
                <td>36–38</td>
                <td>67–74</td>
                <td>91–98</td>
            </tr>
            <tr>
                <td>M</td>
                <td>40–42</td>
                <td>74–81</td>
                <td>98–105</td>
            </tr>
            <tr>
                <td>L</td>
                <td>44–46</td>
                <td>81–88</td>
                <td>105–112</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>48–50</td>
                <td>88–98</td>
                <td>112–120</td>
            </tr>
            <tr>
                <td>XXL</td>
                <td>52–54</td>
                <td>98–108</td>
                <td>120–128</td>
            </tr>
        </table>
        <h4>INTERNATIONAL SIZE CONVERSIONS</h4>
        <table>
            <tr>
                <th>Size</th>
                <th>EU</th>
                <th>UK</th>
                <th>IT</th>
                <th>US</th>
            </tr>
            <tr>
                <td>XS</td>
                <td>32–34</td>
                <td>4–6</td>
                <td>36–38</td>
                <td>0–2</td>
            </tr>
            <tr>
                <td>S</td>
                <td>36–38</td>
                <td>8–10</td>
                <td>40–42</td>
                <td>4–6</td>
            </tr>
            <tr>
                <td>M</td>
                <td>40–42</td>
                <td>12–14</td>
                <td>44–46</td>
                <td>8–10</td>
            </tr>
            <tr>
                <td>L</td>
                <td>44–46</td>
                <td>16–18</td>
                <td>48–50</td>
                <td>12–14</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>48–50</td>
                <td>20–22</td>
                <td>52–54</td>
                <td>16–18</td>
            </tr>
            <tr>
                <td>XXL</td>
                <td>52–54</td>
                <td>24–26</td>
                <td>56–58</td>
                <td>20–22</td>
            </tr>
        </table>


    </div>
</div>