<div class="size-chart-header">
    <h3>Women's Tops Size Chart </h3>
</div>
<div class="mpcss size-chart-main">
    <div class="size-chart-main-image col-md-4 col-xs-12">
        <img src="{{view url=Mageplaza_SizeChart/media/images/size-chart-women.png}}">
    </div>
    <div class="size-chart-main-table col-md-8 col-xs-12">
        <div class="size-chart-main-text"><p>This size chart is to determine your top's size. If any of your measurement
            is on the borderline between two sizes, you can pick the smaller size for a tighter fit or the larger size
            for a looser fit. If your chest and waist measurements correspond to two different suggested sizes, you
            should order the one which is indicated by the measurement of your chest.</p></div>

        <h4>SIZE CHART</h4>
        <table>
            <tr>
                <th>Size</th>
                <th>CHEST (CM)</th>
                <th>WAIST (CM)</th>
                <th>HIPS (CM)</th>
            </tr>
            <tr>
                <td>XS</td>
                <td>76–80</span></td>
                <td>64–68</td>
                <td>86–90</td>
            </tr>
            <tr>
                <td>S</td>
                <td>80–84</td>
                <td>68–72</td>
                <td>90–94</td>
            </tr>
            <tr>
                <td>M</td>
                <td>84–88,5</td>
                <td>72–76,5</td>
                <td>94–98,5</td>
            </tr>
            <tr>
                <td>L</td>
                <td>88,5–93,5</td>
                <td>76,5–81,5</td>
                <td>98,5–103,5</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>93,5–98,5</td>
                <td>81,5–86,5</td>
                <td>103,5–108,5</td>
            </tr>
        </table>
    </div>
</div>