<div class="size-chart-header">
    <h3>Women's Shoes Size Chart </h3>
</div>
<div class="mpcss size-chart-main">
    <div class="size-chart-main-table">
        <table>
            <tr>
                <th>FOOT LENGTH</th>
                <th>EU SIZE</th>
                <th>UK SIZE</th>
                <th>US SIZE</th>
            </tr>
            <tr>
                <td><b>22</b></td>
                <td>35.5</td>
                <td>2.5</td>
                <td>5</td>
            </tr>
            <tr>
                <td><b>22.4</b></td>
                <td>36</td>
                <td>3</td>
                <td>5.5</td>
            </tr>
            <tr>
                <td><b>22.9</b></td>
                <td>36.5</td>
                <td>3.5</td>
                <td>6</td>
            </tr>
            <tr>
                <td><b>23.3</b></td>
                <td>37.5</td>
                <td>4</td>
                <td>6.5</td>
            </tr>
            <tr>
                <td><b>23.7</b></td>
                <td>38</td>
                <td>4.5</td>
                <td>7</td>
            </tr>
            <tr>
                <td><b>24.1</b></td>
                <td>38.5</td>
                <td>5</td>
                <td>7.5</td>
            </tr>
            <tr>
                <td><b>24.5</b></td>
                <td>39</td>
                <td>5.5</td>
                <td>8</td>
            </tr>
            <tr>
                <td><b>25</b></td>
                <td>40</td>
                <td>6</td>
                <td>8.5</td>
            </tr>
            <tr>
                <td><b>25.4</b></td>
                <td>40.5</td>
                <td>6.5</td>
                <td>9</td>
            </tr>
            <tr>
                <td><b>25.8</b></td>
                <td>41</td>
                <td>7</td>
                <td>9.5</td>
            </tr>
            <tr>
                <td><b>26.2</b></td>
                <td>42</td>
                <td>7.5</td>
                <td>10</td>
            </tr>
            <tr>
                <td><b>26.7</b></td>
                <td>42.5</td>
                <td>8</td>
                <td>10.5</td>
            </tr>
            <tr>
                <td><b>27.1</b></td>
                <td>43</td>
                <td>8.5</td>
                <td>11</td>
            </tr>
            <tr>
                <td><b>27.5</b></td>
                <td>44</td>
                <td>9</td>
                <td>11.5</td>
            </tr>
            <tr>
                <td><b>27.9</b></td>
                <td>44.5</td>
                <td>9.5</td>
                <td>12</td>
            </tr>
        </table>
    </div>
</div>