<div class="list-container">
    <h5><%= option.title %> (Option ID: <%= option.id %>)</h5>
    <ul data-option-id="<%= option.id %>">
        <% option.values.forEach(function (value) { %>
            <li data-value-id="<%= value.id %>"><%= value.title %> (Color ID: <%= value.id %>)</li>
        <% }); %>
    </ul>
</div>
