<?php
$configHelper = $this->helper('Wyomind\ElasticsearchMultifacetedAutocomplete\Helper\Config');
$dataHelper = $this->helper('Wyomind\ElasticsearchCore\Helper\Data');
$storeId = $dataHelper->getCurrentStoreId();

$malabels = $configHelper->getLabels($storeId);
$yourSearchLabel = $malabels['your_search'];
?>
<script id="ma-breadcrumb-template" type="text/x-magento-template">
    <% if (!_.isEmpty(filters)) { %>
        <?= $yourSearchLabel ?>
        <ol class="items">
            <% _.each(filters, function(filter, key) { %>
                <% if (key == "final_price") { %>
                    <li class="item wyomind-primary-bgcolor">
                        <span class="filter-label">
                            <a href="#" attribute-code="<%= key %>" class="remove-after">
                                <?php echo __("Price"); ?>
                            </a>
                        </span>
                        <span class="filters">
                            <span class="filter-value">
                                <a href="#" attribute-code="<%= key %>" class="remove-after">
                                    <%= _.getFormattedPrice(filter.values.min) %>-<%= _.getFormattedPrice(filter.values.max) %>
                                </a>
                            </span>
                        </span>
                        <a class="action remove" href="#" attribute-code="<%= key %>" option-id="0" title="<?= __("Remove Price") ?> <%= filter.values.min %>-<%= filter.values.max %>">
                            <span>Remove Price</span>
                        </a>
                    </li>
                    <span class="next"></span>
                <% } else { %>
                    <% if (key == "rating") { %>
                        <li class="item wyomind-primary-bgcolor">
                            <span class="filter-label">
                                <a href="#" attribute-code="<%= key %>" class="remove-after">
                                <?php echo __("Rating"); ?>
                                </a>
                            </span>
                            <span class="filters">
                                <% _.each(filter.values, function(label, id) { %>
                                    <% if (id != -1) { %>
                                        <span class="filter-value">
                                            <a href="#" attribute-code="<%= key %>" option-id="<%= id %>" class="remove-after-and-others">
                                                <div title="<%= id %> & up" style="float: none;max-width: 100%;width: 100%; display:inline">
                                                    <div class="product-reviews-summary short" style="display:inline-block">
                                                        <div class="rating-summary">
                                                            <span class="label"><span>Rating:</span></span>
                                                            <div class="rating-result" title="<%= id %>%">
                                                                <span style="width:<%= id %>%"><span><%= id %>%</span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </span>
                                    <% } else { %>
                                        <span class="filter-value">
                                            <a href="#" attribute-code="<%= key %>" option-id="<%= id %>" class="remove-after-and-others">
                                            <?php echo __("No rating"); ?>
                                            </a>
                                        </span>
                                    <% } %>
                                <% }) %>
                            </span>
                            <a class="action remove" href="#" attribute-code="<%= key %>" title="Remove <?php echo __("Rating"); ?>">
                                <span>Remove <?php echo __("Rating"); ?></span>
                            </a>
                        </li>
                        <span class="next"></span>
                    <% } else { %>
                        <li class="item wyomind-primary-bgcolor">
                            <span class="filter-label">
                                <a href="#" attribute-code="<%= key %>" class="remove-after">
                                    <%= filter.label %>
                                </a>
                            </span>
                            <span class="filters">
                                <% _.each(filter.values, function(label, id) { %>
                                    <span class="filter-value">
                                        <a href="#" attribute-code="<%= key %>" option-id="<%= id %>" class="remove-after-and-others">
                                            <%= label %>
                                        </a>
                                    </span>
                                <% }) %>
                            </span>
                            <a class="action remove" href="#" attribute-code="<%= key %>"
                               title="<?= __("Remove Rating") ?> <%= filter.values.min %>-<%= filter.values.max %>">
                                <span>Remove <%= filter.label %></span>
                            </a>
                        </li>
                        <span class="next"></span>
                    <% } %>
                <% } %>
            <% }) %>
        </ol>
    <% } %>
</script>
