<?php
$cartHelper = $this->helper('Wyomind\ElasticsearchCore\Helper\Cart');
$dataHelper = $this->helper('Wyomind\ElasticsearchCore\Helper\Data');

$uenc = $cartHelper->getUenc();
?>

<script id="ma-products-grid-template" type="text/x-magento-template">
    <% var counter = 1; %>
    <% _.each(products, function(product) { %>
        <% counter++; %>
        <li class="item<% if (typeof itemsPerRow == "undefined" || (0 < itemsPerRow && itemsPerRow < counter)) { %> after<% } %>">
            <div class="loader"></div>
            <div class="image">
                <a href="<%= product.url %>" class="product photo product-item-photo" tabindex="-1">
                    <span class="product-image-container">
                        <span class="product-image-wrapper" style="padding-bottom: 125%;">
                            <img id="product-image-<%= product.id %>" src="<%= product.base_image %>">
                        </span>
                    </span>
                </a>
            </div>
            <div class="info">
                <strong class="product name product-item-name">
                    <a class="product-item-link" href="<%= product.url %>"><%= product.name%></a>
                </strong>
                <% if (displayReviews && product.review_count > 0) { %>
                <div class="product-reviews-summary short">
                    <div class="rating-summary">
                        <span class="label"><span>Rating:</span></span>
                        <div class="rating-result" title="<%= product.rating %>%">
                            <span style="width:<%= product.rating %>%"><span><%= product.rating %>%</span></span>
                        </div>
                    </div>
                    <div class="reviews-actions">
                        <a class="action view" href="<%= product.url %>#reviews"><%= product.review_count %>&nbsp;<span>Reviews</span></a>
                    </div>
                </div>
                <% } %>
                <div class="description-box">
                    <%= product.description %>
                </div>
                <% if (typeof product['prices_'+customerGroupId] !== "undefined") { %>
                    <div class="price-box price-final_price">
                    <% product.prices = product['prices_'+customerGroupId]; %>
                    <span class="price-container price-final_price tax weee">
                            <span class="price-wrapper">
                                <% if (product.type_id == "configurable") { %>
                                    <% if (product.prices.min_price != product.prices.max_price) { %>
                                        <span><?php echo __('From: '); ?></span><span class="price"><%= _.getFormattedPrice(product.prices.final_price) %></span>
                                    <% } else { %>
                                        <span class="price"><%= _.getFormattedPrice(product.prices.final_price) %></span>
                                    <% } %>
                                <% } else { %>
                                    <% if (product.type_id == "grouped") { %>
                                        <span><?php echo __('From: '); ?></span><span class="price"><%= _.getFormattedPrice(product.prices.min_price) %></span>
                                    <% } else { %>
                                        <% if (product.type_id == "bundle") { %>
                                            <span><?php echo __('From: '); ?></span><span class="price"><%= _.getFormattedPrice(product.prices.min_price) %></span><br/>
                                            <span><?php echo __('To: '); ?></span><span class="price"><%= _.getFormattedPrice(product.prices.max_price) %></span>
                                        <% } else { %>
                                            <% if (product.prices.final_price < product.prices.price) { %>
                                                <% if (typeof product.special_from_date != "undefined") {
                                                    tmp =  product.special_from_date.split(/[- :]/);
                                                    product.special_from_date = new Date(tmp[0], tmp[1]-1, tmp[2], tmp[3], tmp[4], tmp[5]).getTime();
                                                } %>
                                                <% if (typeof product.special_to_date != "undefined") {
                                                    tmp =  product.special_to_date.split(/[- :]/);
                                                    product.special_to_date = new Date(tmp[0], tmp[1]-1, tmp[2], tmp[3], tmp[4], tmp[5]).getTime();
                                                } %>

                                                <% if (((typeof product.special_from_date != "undefined" && product.special_from_date <= Date.now()) && (typeof product.special_to_date != "undefined" && Date.now() <= product.special_to_date))
                                                    || (typeof product.special_from_date != "undefined" && typeof product.special_to_date == "undefined" && product.special_from_date <= Date.now())
                                                    || (typeof product.special_to_date != "undefined" && typeof product.special_from_date == "undefined" && Date.now() <= product.special_to_date)
                                                    || (typeof product.special_to_date == "undefined" && typeof product.special_from_date == "undefined")) { %>
                                                    <p class="old-price">
                                                        <span class="price"><%= _.getFormattedPrice(product.prices.price, product.tax_class_id) %></span>
                                                    </p>
                                                    <p class="special-price">
                                                        <span class="price"><%= _.getFormattedPrice(product.prices.final_price, product.tax_class_id) %></span>
                                                    </p>
                                                <% } else { %>
                                                    <span class="regular-price">
                                                        <span class="price"><%= _.getFormattedPrice(product.prices.price, product.tax_class_id) %></span>
                                                    </span>
                                                <% } %>
                                            <% } else { %>
                                                <span class="regular-price">
                                                    <span class="price"><%= _.getFormattedPrice(product.prices.price, product.tax_class_id) %></span>
                                                </span>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </span>
                        </span>
                 </div>
                <% } %>
                <% if (displayConfigurableOptions && product.configurable_options) { %>
                <div class="swatch-opt">
                    <?php // visual swatch before text swatch ?>
                    <% _.each(product.configurable_options, function(option, attributeCode) { %>
                        <% if (option.visualSwatch) { %>
                            <div class="swatch-attribute color">
                                <div class="swatch-attribute-options clearfix">
                                    <% _.each(option.values, function(value) { %>
                                        <div option-tooltip-value="<%= value.swatch %>" class="swatch-option color" product-id=<%= product.id %> attribute-id="<%= option.id %>" option-id="<%= value.id %>" style="background: <%= value.swatch %> no-repeat center; background-size: initial;"></div>
                                    <% }) %>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                    <% _.each(product.configurable_options, function(option, attributeCode) { %>
                        <% if (option.textSwatch) { %>
                            <div class="swatch-attribute text">
                                <div class="swatch-attribute-options clearfix">
                                    <% _.each(option.values, function(value) { %>
                                        <div class="swatch-option text" product-id=<%= product.id %> attribute-id="<%= option.id %>" option-id="<%= value.id %>"><%= value.swatch %></div>
                                    <% }) %>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
                <% } %>
                <div class='additional-actions product-item-actions'>
                  <% if (displayAddToCart) { %>
                      <div class="actions-primary tocart">
                          <div data-role="tocart-form" action="<%= ("<?php echo $cartHelper->getAddUrlPlaceHolder(); ?>").replace("productId",product.id) %>" method="post">
                              <% _.each(product.configurable_options, function(option, attributeCode) { %>
                              <input class="swatch-input super-attribute-select" id="ma-cart-super-attribute-<%= product.id %>-<%= option.id %>" name="super_attribute[<%= option.id %>]" type="text" value="" style="display:none">
                              <% }) %>
                              <input type="hidden" name="product" value="<%= product.id %>">
                              <input type="hidden" name="uenc" value="<?php echo $uenc; ?>">
                              <input type="hidden" name="qty" value="1">
                              <input type="hidden" name="isAjax" value="1">
                              <input name="form_key" type="hidden" value="<?php echo $dataHelper->getFormKey() ?>">
                              <button type="button" title="<% if (product.quantity_and_stock_status_ids == 0) { %><?php echo __("The product is not available"); ?><% } else { %><?php echo __("Add to Cart"); ?><% } %>" class="ma-ajax-add-to-cart action tocart primary wyomind-btn-primary <% if (product.quantity_and_stock_status_ids == 0) { %>disabled<% } %>">
                                  <span><?php echo __("Add to Cart"); ?></span> 
                              </button>
                        </div>
                    </div>
                  <% } %>
                  <% if (displayAddToWishlist || displayAddToCompare) { %>
                    <div data-role="add-to-links" class="actions-secondary">
                      <% if (displayAddToWishlist) { %>
                      <a title="<?php echo __("Add to Wish List"); ?>" href="<?php echo $block->getUrl("wishlist/index/add") ?>" product="<%= product.id %>" class="ma-ajax-add-to-wishlist action towishlist">
                          <span><?php echo __("Add to Wish List"); ?></span>
                      </a>
                      <% } %>
                      <% if (displayAddToCompare) { %>
                      <a type="button" title="<?php echo __("Add to Compare"); ?>" href="<%= ("<?php echo $block->getUrl("catalog/product_compare/add", ["form_key"=> $dataHelper->getFormKey(),"uenc"=>$uenc, "product" => "productId"]); ?>").replace("productId",product.id) %>" class="ma-ajax-add-to-compare action tocompare">
                          <span><?php echo __("Add to Compare"); ?></span>
                      </a>
                      <% } %>
                        <% if (displayEmailToAFriend) { %>
                        <a type="button" title="<?php echo __("Email a to friend"); ?>" href="<%= ("<?php echo $block->getUrl("sendfriend/product/send/", ["id"=> "productId"]); ?>").replace("productId",product.id) %>" class="ma-ajax-email-to-a-friend action toafriend">
                        <span><?php echo __("Email to a friend"); ?></span>
                        </a>
                        <% } %>
                    </div>
                  <% } %>
              </div>
            </div>
        </li>
    <% }) %>
</script>
