<?php
$configHelper = $this->helper('Wyomind\ElasticsearchMultifacetedAutocomplete\Helper\Config');
$isBreadcrumbEnabled = $configHelper->isBreadcrumbEnabled();
$isBackToTopEnabled = $configHelper->isBackToTopEnabled();
$orders = $configHelper->getAvailableOrders();
$displaySorter = $configHelper->getDisplaySorter();
$dataHelper = $this->helper('Wyomind\ElasticsearchCore\Helper\Data');
$storeId = $dataHelper->getCurrentStoreId();

$malabels = $configHelper->getLabels($storeId);
$searchByLabel = $malabels['search_by'];
$clearAllLabel = $malabels['clear_all'];
?>

<div id="search_autocomplete" class="ma-search-autocomplete wyomind-bg-secondary">
    <div class="ma-layer-title-section wyomind-bg-secondary">
        <div class="ma-layer-title"><?= $searchByLabel ?></div>
        <a class="ma-layer-clear-all hide clear" href="#"><?= $clearAllLabel ?></a>
    </div>
    <div class="ma-layer wyomind-bg-secondary" data-role="ma-products-layer">

    </div>
    <div class="ma-main">
        <div class="ma-smartphones-searchform wyomind-bg-secondary">
            <input type="text" id="search-smartphones"/>
            <span id="filters-smartphones"><?= __('Filter') ?><span id="filters-smartphones-count"></span></span>
        </div>
        <div class="ma-toolbar toolbar wyomind-bg-secondary">
            <div class="modes">
                <a class="ela modes-mode active mode-grid wyomind-btn-primary" title="<?= /* @escapeNotVerified */
                __('Grid') ?>" href="#" id="mode-grid">
                </a>
                <a class="ela modes-mode mode-list wyomind-btn-primary-inverted" title="<?= /* @escapeNotVerified */
                __('List') ?>" href="#" id="mode-list">
                </a>
            </div>
            <div class="results-count" id="ma-results-count"></div>
            <?php if ($displaySorter) : ?>
                <div class="ma-order toolbar-sorter sorter" id="ma-order">
                    <select id="sorter" class="sorter-options">
                        <?php foreach ($orders as $key => $order): ?>
                            <option value="<?= $key ?>"><?= $block->escapeHtml(__($order)) ?></option>
                        <?php endforeach; ?>
                    </select>
                    <a title="<?= __('Set Ascending Direction') ?>" class="action sorter-action sort-desc active wyomind-primary-color"
                       href="#"></a>
                    <a title="<?= __('Set Descending Direction') ?>" class="action sorter-action sort-asc wyomind-primary-color" href="#"></a>
                </div>
            <?php endif; ?>
            <div class="close">
                <a id="ma-close" href="#" class="close wyomind-primary-color"></a>
            </div>
        </div>
        <?php if ($isBreadcrumbEnabled): ?>
            <div id="ma-breadcrumb" class="ma-breadcrumb wyomind-bg-secondary"></div>
        <?php endif; ?>
        <div id="ma-messages" class="ma-messages">
            <div id='ma-message-options-error' style='display:none' class='message-error error message'>Please select
                options before adding the product to the cart.
            </div>
        </div>
        <div id="ma-grid-container" class="ma-grid-container wyomind-bg-primary">
            <?php if ($isBackToTopEnabled): ?>
            <div class="ma-back-to-top wyomind-primary-bgcolor hidden"></div>
            <?php endif ;?>
            <ul id="ma-grid" class="ma-grid" data-role="ma-products-grid">
            </ul>
        </div>
        <!--        <div id="ma-all-results" class="ma-all-results"></div>-->
    </div>
</div>
<div id="search_autocomplete-no-result" class="ma-search-autocomplete-no-result wyomind-bg-primary"><div id="no-product-message"><?php echo __("No products found"); ?></div><div id="ea-alone"></div></div>
