<?php
$carriers = $this->getCarriers();
$element = $this->getElement();
$this->setFieldName($element->getName());
$fValue = $element->getValue();
?>

<div class="grid control">
    <input id="<?php echo $this->getFieldName()?>" type="hidden" />
    <table cellspacing="0" class="data admin__control-table" id="<?php echo $this->suffixId('cfgTable')?>" style="width:700px">
        <col width="450" />
        <col width="100" />
        <col width="70" />
        <thead>
            <tr class="headings">
                <th><?php echo __('System Method') ?></th>
                <th><?php echo __('Sort Order') ?></th>
                <th><?php echo __('Action') ?></th>
            </tr>
            <tr id="<?php echo $this->suffixId('rowTpl')?>" style="display:none">
                <td>
                    <nobr>
                    <select title="$METHOD_CODE" class="optional-entry explicit_carrier_code" name="<?php echo $this->getFieldName()?>[$ROW][carrier_code]" onchange="window['<?php echo $this->suffixId('initMethodCode')?>'](this)" style="width: 180px">
                    <option value=""><?php echo __('* Please select')?></option>
                    <?php if (is_array($carriers)) :
                        foreach ($carriers as $carrierCode => $carrierTitle) : ?>
                                                <option alt="carrier_code" value="<?php echo $carrierCode?>"><?php echo $this->escapeHtml($carrierTitle)?></option>
                        <?php                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         endforeach;
                    endif; ?>
                    <input type="hidden" name="<?php echo $this->getFieldName()?>[$ROW][carrier_title]"  class="optional-entry explicit_carrier_title">
                    </select>
                    <select style="display: none; width: 230px" class="optional-entry explicit_method_code" name="<?php echo $this->getFieldName()?>[$ROW][method_code]" onchange="window['<?php echo $this->suffixId('syncMethodCode')?>'](this)">
                    </select>
                    <input type="hidden" name="<?php echo $this->getFieldName()?>[$ROW][method_title]"  class="optional-entry explicit_method_title">
                    </nobr>
                </td>
                <td>
                    <input type="text" class="input-text" name="<?php echo $this->getFieldName()?>[$ROW][sort_order]" value="$SORT_ORDER" style="width:70px" />
                </td>
                <td>
                    <button type="button" class="scalable delete"><span></span></button>
                </td>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="4" class="a-left">
                    <div class="left"><button type="button" class="scalable add" id="<?php echo $this->suffixId('addBtn')?>"><span><?php echo __('Add Method') ?></span></button></div>
                </th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>

</div>

<style type="text/css">
</style>

<script type="text/javascript">
//<![CDATA[
require(["jquery","prototype","domReady!"], function(jQuery) {
window['<?php echo $this->suffixId('toggleArea')?>'] = function(cbx, areaId, flag) {
    if (cbx.checked==flag) {
        $(areaId).show();
        $(areaId).select('input,select,textarea').each(function(inEl){
            inEl.enable();
            if (inEl.hasClassName('optional-entry')) {
                inEl.addClassName('required-entry');
            }
            inEl.removeClassName('optional-entry');
        });
    } else {
        $(areaId).hide();
        $(areaId).select('input,select,textarea').each(function(inEl){
            inEl.disable();
            if (inEl.hasClassName('required-entry')) {
                inEl.addClassName('optional-entry');
            }
            inEl.removeClassName('required-entry');
        });
    }
};
window['<?php echo $this->suffixId('syncMethodCode')?>'] = function(methodEl) {
    $(methodEl).previous('.explicit_carrier_code').title = $(methodEl).value;
    $(methodEl).next('.explicit_method_title').value=$(methodEl).options[$(methodEl).selectedIndex].innerHTML;
};
window['<?php echo $this->suffixId('initMethodCode')?>'] = function(carrierEl) {
    var carriersJson = <?php echo $this->getCarriersJson()?>;
    $(carrierEl).next('.explicit_method_code').options.length=0;
    $(carrierEl).next('.explicit_carrier_title').value=$(carrierEl).options[$(carrierEl).selectedIndex].innerHTML;
    var methodEl = $(carrierEl).next('.explicit_method_code');
    if ($(carrierEl).value && carriersJson[$(carrierEl).value]) {
        var cj = carriersJson[$(carrierEl).value];
        if (cj.values) {
            for (j=0; j<cj.values.length; j++) {
                if (Object.isArray(cj.values[j].value)) {
                    var optGroup = document.createElement('optgroup');
                    optGroup.label = cj.values[j].label;
                    for (i=0; i<cj.values[j].value.length; i++) {
                        optGroup.appendChild(new Option(cj.values[j].value[i].label, cj.values[j].value[i].value));
                    }
                    methodEl.appendChild(optGroup);
                } else {
                    methodEl.add(new Option(cj.values[j].label, cj.values[j].value));
                }
            }
        } else {
            for (var mc in cj.options) {
                methodEl.add(new Option(cj.options[mc], mc));
            }
        }
        methodEl.value = $(carrierEl).title;
        methodEl.show()
        window['<?php echo $this->suffixId('syncMethodCode')?>'](methodEl);
    }
};
(function ()
{
    var lastRowNum = 0;
    var tbody = $$('#<?php echo $this->suffixId('cfgTable')?> tbody')[0];
    var suffixIdTpl = new Template('<?php echo $this->suffixId('#{key}') ?>');

    var udpAddRow = function (inData)
    {
        var rowHtml = $('<?php echo $this->suffixId('rowTpl')?>').innerHTML;
        var data = {
            carrier_code: '',
            method_code: '',
            sort_order: '0',
            est_use_custom: '0',
            est_carrier_code: '',
            est_method_code: '',
            use_fixed_price: '0',
            fixed_price: '',
            condition_name: '',
            condition_from: '',
            condition_to: ''
        }
        Object.extend(data, inData);
        data.row = ++lastRowNum;

        var isIE = (/msie [1-8]\./i).test(navigator.userAgent);
        var numericVars = ['sort_order', 'est_use_custom', 'use_fixed_price', 'fixed_price', 'condition_to', 'condition_from'];
        var forcedNumericVars = [];
        var keys = $H(data).keys().sortBy(function(s){return (''+s).length}).reverse();
        for (j=0; j<keys.length; j++) {
            var i=keys[j];
            value = data[i] || ''
            if (-1 != numericVars.indexOf(i) && data[i]
                || -1 != forcedNumericVars.indexOf(i)
            ) {
                value *= 1;
                data[i] = value;
            }
            if (i!=='row' && isIE) value = '"'+value+'"';
            rowHtml = rowHtml.replace(new RegExp('\\$'+i.toUpperCase(), 'g'), value)
        }
        var regExTpl = [
            new Template('<option (([^>]*(alt="?#{key}"?|value="?#{value}"?(?=[\\s>]))){2})'),
            new Template('<option $1 selected="selected"'),
            new Template('<input (([^>]*(alt="?#{key}"?|value="?#{value}"?(?=[\\s>])|type="?checkbox"?)){3})'),
            new Template('<input $1 checked="checked"')
        ];
        var selectFields = $H({carrier_code: 0, est_carrier_code: 0, est_use_custom: 0, condition_name: 0, use_fixed_price: 0});
        selectFields.each(function(pair){
            var varsForEval, value=data[pair.key], key=pair.key;
            for (var rxIdx=0; rxIdx<regExTpl.length; rxIdx+=2) {
                varsForEval = [];
                if (value) {
                    if (!Object.isArray(value)) {
                        value = String.interpret(value).split(',');
                    }
                    value.each(function(val){
                        varsForEval.push({key: key, value: val});
                    })
                } else {
                    varsForEval.push({key: key, value: value});
                }
                for (var vfeIdx=0; vfeIdx<varsForEval.length; vfeIdx++) {
                    var varForEval = varsForEval[vfeIdx];
                    var rxFind = regExTpl[rxIdx].evaluate(varForEval);
                    var rxReplace = regExTpl[rxIdx+1].evaluate(varForEval);
                    rowHtml = rowHtml.replace(new RegExp(rxFind, 'i'), rxReplace);
                }
            }
        });
        tbody.insert('<tr>'+rowHtml+'</tr>');
        var trs = tbody.childElements();
        var tr = trs[trs.length-1];
        tr.addClassName(lastRowNum%2 ? 'odd' : 'even');

        tr.select('input,select,textarea').each(function(inEl){
            inEl.enable();
            if (inEl.hasClassName('optional-entry')) {
                inEl.addClassName('required-entry');
            }
            inEl.removeClassName('optional-entry');
        });

        var toggleFields = ['est_use_custom', 'use_fixed_price'];
        toggleFields.each(function(key){
            var yesKey = suffixIdTpl.evaluate({key: 'yes__'+key+'_'+data.row});
            var noKey = suffixIdTpl.evaluate({key: 'no__'+key+'_'+data.row});
            if (!data[key]) {
                $$('.'+yesKey).each(function(el){
                    el.hide();
                    el.select('input,select,textarea').each(function(inEl){
                        inEl.disable();
                        if (inEl.hasClassName('required-entry')) {
                            inEl.addClassName('optional-entry');
                        }
                        inEl.removeClassName('required-entry');
                    });
                });
                $$('.'+noKey).each(function(el){
                    el.show();
                    el.select('input,select,textarea').each(function(inEl){
                        inEl.enable();
                        if (inEl.hasClassName('optional-entry')) {
                            inEl.addClassName('required-entry');
                        }
                        inEl.removeClassName('optional-entry');
                    });
                });
            } else {
                $$('.'+noKey).each(function(el){
                    el.hide();
                    el.select('input,select,textarea').each(function(inEl){
                        inEl.disable();
                        if (inEl.hasClassName('required-entry')) {
                            inEl.addClassName('optional-entry');
                        }
                        inEl.removeClassName('required-entry');
                    });
                });
                $$('.'+yesKey).each(function(el){
                    el.show();
                    el.select('input,select,textarea').each(function(inEl){
                        inEl.enable();
                        if (inEl.hasClassName('optional-entry')) {
                            inEl.addClassName('required-entry');
                        }
                        inEl.removeClassName('optional-entry');
                    });
                });
            }
        });

        $(tr).select('.explicit_carrier_code').each(function(el){
            window['<?php echo $this->suffixId('initMethodCode')?>'](el)
        });

        var del = $(tr).select('button.delete')[0];
        if (del) {
            $(del).observe('click', function(e) { e.stop(); $(del.parentNode.parentNode).remove() })
        }
    }

    $('<?php echo $this->suffixId('addBtn')?>').observe('click', function(e) { e.stop(); udpAddRow() });
    window['<?php echo $this->suffixId('addBtn')?>udpAddRow'] = udpAddRow;

    <?php if (is_array($fValue)) :
        foreach ($fValue as $fK => $fV) : ?>
            udpAddRow(<?php echo Zend_Json::encode($fV) ?>, '<?php echo $fK?>');
        <?php                                                                                                                                                                                                         endforeach;
    endif; ?>

})();
});
//]]>
</script>



