//----
// @category  : Ubertheme
// @package   : Ubertheme_UbMegaMenu
// @author    : Ubertheme.com
// @copyright : Copyright 2009-2019 Ubertheme
//---------------------------
& when (@media-common = true) {
	.ub-mega-menu-vertical {
		.ub-mega-menu-wrapper {
			margin-bottom: 30px;
			.ub-mega-menu {
				padding: 0;
			}
			.child-content {
				top: 0px;
				left: 170px;
				.child-content-inner-wrap {
					.child-content-inner {
						display: block;
						.free-shipping {
							margin: 20px 0;
						}
						.sales-off {
							margin: 30px 0 0;
						}
					}
				}
				.product-items {
					.product-item-info {
						padding:  0 !important;
						.product-item-photo {
							max-width: 200px;
							padding: 0;
							position: static;
						}
					}
					.product-item-details {
						margin-left: 0;
					}
				}
				.block.widget {
					.product-item-info {
						width: 200px;
						&:hover, 
						&.active {
							border: 0 !important;
							box-shadow: none !important;
							margin: 0 !important;
							padding: 0 !important;
						}
					}
					.products-grid {
						li.product-item {
							width: 100% !important;
						}	
					}
				}
			}
			//Level 0
			ul.level0 {
				> li.mega {
					width: 100%;
					border-bottom:  1px dotted #ddd;
					> .mega {
						padding: 0 0 0 10px;
						span.menu-title {
							background: url("../Ubertheme_UbMegaMenu/images/ver-bg-has-child.png") no-repeat right 0;
						}
						span.menu-icon {
							top: -15px;
							left: 7%;
						}
						&.ui-state-active, 
						&.active, 
						&:active, 
						&:focus, 
						&:hover {
							background: @color-blue1;
							color: @color-white;
						}
					}
					// Style for if Level 0 is Groups.
					&.flattened-menu {
						.group {
							&-title {
								color: #575757;
								display: block;
								font-weight: 600;
								line-height: 34px;
								padding: 0;
								text-transform: uppercase; 
								.mega {
									color: #575757;
									display: block;
									text-decoration: none;
									padding: 0 0 0 10px;
									&.ui-state-active, 
									&.active, 
									&:active, 
									&:focus, 
									&:hover {
										background: @color-blue1;
										color: @color-white;
									}
								}
							}

						}
						ul.level1 {
							> li.mega {
								.mega {
									padding: 0 0 0 20px;
								}
							}
						}
						ul.level2 {
							> li.mega {
								.mega {
									padding: 0 0 0 30px;
								}
							}
						}
					}
				}
			}

			ul.level1 {
				> li.mega {
					&.has-child {
						&:focus,
						&:hover {
							> .child-content {
								right: -230px;
								top: 0px;		
							}
						}
					}
				}
			}
		}		
	}
	.page-layout-2columns-right {
		.ub-mega-menu-vertical {
			.ub-mega-menu-wrapper {
				.child-content {
		   			right: 170px;
		   			left: auto;
		   			.mega-col {
					  	float: right;
					}
		   		}	
				ul.level0 {
					> li.mega {
						> .mega {
						  text-align: right;
						  	> span.menu-title {
						  		background: url("../Ubertheme_UbMegaMenu/images/ver-bg-has-child-right.png") no-repeat left 0;
						  		padding: 0 0 0 20px;
						  	}
						  	span.menu-icon {
							  	left: auto;
							  	right: 0;
							}
						}
					}
				}
				ul.level1 {
			   		li.mega {
			   			.mega {
			   				text-align: right;
			   			}
				   		&.has-child {
				   			> .mega {
								> span.menu-title {
								  background: url("../Ubertheme_UbMegaMenu/images/ver-bg-has-child-right.png") no-repeat left -8px;
								}
							}
				   			&:focus,
				   			&:hover {
				   				> .child-content {
									left: -230px;
									right: auto;	
				   				}
				   			}
						}
			   		}
		   		}
			}
		}
	}
}
//
//  Mobile Vertical max-width: 480px;
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
  
}

//
//  Mobile Vertical max-width: 640px;
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}


//
//  Tablet Mini max-width: 768px;
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.ub-mega-menu-vertical  {
		.ub-mega-menu {
			ul.level0 {
				> li.mega.has-child {
					span.menu-parent-icon {
						z-index: 1;
					}
				}
			}
		}
	}

}

//
//  Tablet Vertical min-width: 768px;
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.ub-mega-menu-vertical {
		.ub-mega-menu-wrapper {
			.child-content {
		    	left: 120px;
		  	}
		  	ul.level0 {
			  	> li.mega {
				  position: relative;
				}
		  	}
		  	ul.level1 {
				li.mega {
					&.has-child {
						&:hover,
						&:focus {
							> .child-content {
								right: -200px;
							}
						}
					}		
				}	
		  	}
		}
	}

	.page-layout-2columns-right {  
		.ub-mega-menu-vertical {
			.ub-mega-menu-wrapper {
				.child-content {
				    right: 120px;
				}
				ul.level0 {
					> li.mega {
						position: relative;
					}
				}
				ul.level1 {
				  	li.mega {
				  		&.has-child {
				  			&:hover,
				  			&:focus {
				  				> .child-content {
								  	left: -200px;
								}
				  			}
				  		}		
				  	}	
				}
			}
		}
	}
}

//
//  Tablet Horizontal - min-width: 1024px;
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) { 
  .ub-mega-menu-vertical {
		.ub-mega-menu-wrapper {
			.child-content {
		    left: 170px;
		  }
		  ul.level0 {
			  > li.mega {
				  position: relative;
				}
		  }
		  ul.level1 {
		  	li.mega {
		  		&.has-child {
		  			&:hover,
		  			&:focus {
		  				> .child-content {
							  right: -200px;
							}
		  			}
		  		}		
		  	}	
		  }
		}
	}
	.page-layout-2columns-right {  
		.ub-mega-menu-vertical {
			.ub-mega-menu-wrapper {
				.child-content {
			    right: 170px;
			}
			ul.level0 {
				> li.mega {
				  	position: relative;
				}
			}
			ul.level1 {
			  	li.mega {
			  		&.has-child {
			  			&:hover,
			  			&:focus {
			  				> .child-content {
							  	left: -200px;
							}
			  			}
			  		}		
			  	}	
			  }
			}
		}
	}
}
//
//  Desktop min-width: 1440px
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
	.ub-mega-menu-vertical {
		.ub-mega-menu-wrapper {
			.child-content {
		    left: 170px;
		  }
		  ul.level1 {
		  	li.mega {
		  		&.has-child {
		  			&:hover,
		  			&:focus {
		  				> .child-content {
							  right: -230px;
						}
		  			}
		  		}		
		  	}	
		  }
		}
	}

	.page-layout-2columns-right { 
		.ub-mega-menu-vertical {
			.ub-mega-menu-wrapper {
				.child-content {
			    	right: 170px;
			  	}
			  	ul.level1 {
				  	li.mega {
				  		&.has-child {
				  			&:hover,
				  			&:focus {
				  				> .child-content {
								  	left: -230px;
								}
				  			}
				  		}		
				  	}	
			  	}
			}
		}
	}
}

