<script id="eln-product-prices-filter-template" type="text/x-magento-template">
    <div class="eln-filter-item filter-options-item price-slider" attribute-code="final_price" data-role="eln-product-prices-filter-content">
        <div data-role="title" class="filter-options-title"><?php echo __("Price"); ?></div>
        <div class="eln-filter-content filter-options-content price">
            <div class="eln-price-slider"></div>
            <div class="price-range a-center">
                <span class="from wyomind-primary-color"><%= _.getFormattedPrice(valMin) %></span> - <span class="to wyomind-primary-color"><%= _.getFormattedPrice(valMax) %></span>
                <% if (displayInputBoxesForPriceFilter) { %>
                    <div>
                        <input type="text" class="eln-price min input-text" placeholder="min" value="<% if (valMin != min) { %><%- parseFloat(valMin).toFixed(2) %><% } %>">
                        <input type="text" class="eln-price max input-text" placeholder="max" value="<% if (valMax != max) { %><%- parseFloat(valMax).toFixed(2) %><% } %>">
                    </div>
                <% } %>
            </div>
            <div class="price-limit">
                <div class="max"><%= _.getFormattedPrice(max) %></div>
                <div class="min"><%= _.getFormattedPrice(min) %></div>
            </div>
        </div>
    </div>
</script>
