<script id="eln-product-text-swatch-filter-template" type="text/x-magento-template">
    <div class="eln-filter-item filter-options-item" attribute-code="<%= attributeCode %>" data-role="eln-product-text-swatch-filter-content">
        <div data-role="title" class="filter-options-title"><%= filter.label %></div>
        <div id="eln-swatch-filter-content" class="eln-filter-content filter-options-content">
            <div class="swatch-attribute-options clearfix">
                <div class="swatch-attribute swatch-layered hide-more">
                    <div class="container">
                    <% _.each(filter.values, function(data) { %>
                        <% if (generateUrl) { %>
                        <a href="<% if (!_.has(selected, data.id)) { %><%= _.createFilterUrl(attributeCode,data.label) %><% } else { %><%= _.createFilterUrlMinus(attributeCode,data.label) %><% } %>"
                           class="<% if (showMoreLess == 1) { %>hide<%= showMoreLessNbValues %> <% } %>eln-filter-option filter-option swatch-option-link-layered <% if (data.count == 0) { %>disabled<% } %>" attribute-code="<%= attributeCode %>" option-id="<%= data.id %>" option-label="<%= data.label %>">
                       <% } else { %>
                        <span class="<% if (showMoreLess == 1) { %>hide<%= showMoreLessNbValues %> <% } %>eln-filter-option filter-option swatch-option-link-layered <% if (data.count == 0) { %>disabled<% } %>" attribute-code="<%= attributeCode %>" option-id="<%= data.id %>" option-label="<%= data.label %>">
                    <% } %>

                        <div class="swatch-option text <% if (_.has(selected, data.id)) { %>selected<% } %> <% if (data.count == 0) { %>disabled<% } %>" title="<%= data.label %><% if (showResultsCount == 1 && data.count > 0) { %> (<%= data.count %>)<% }%>"><%= data.data %></div>
                    <% if (generateUrl) { %>
                        </a>
                        <% } else { %>
                    </span>
                        <% } %>
                    <% }) %>
                    </div>
                    <% if (_.size(filter.values) > showMoreLessNbValues && showMoreLess == 1) { %>
                    <a class="show-more wyomind-primary-color" href="#"><?= __('Show more'); ?></a>
                    <a class="show-less wyomind-primary-color" href="#"><?= __('Show less'); ?></a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</script>
