<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @var \RetentionScience\Waves\Block\Adminhtml\System\Config\RunNow $block
 */
?>
<script>
    require(['prototype'], function(){

//<![CDATA[
        function wavesRunSync() {
            var validationMessage = $('waves_run_result');

            new Ajax.Request('<?php /* @escapeNotVerified */ echo $block->getAjaxUrl() ?>', {
                parameters: {},
                onSuccess: function(response) {
                    var result = '<?php /* @escapeNotVerified */ echo __('Error during request.') ?>';
                    try {
                        if (response.responseText.isJSON()) {
                            response = response.responseText.evalJSON();
                            result = response.message;
                        }
                        if (response.success) {
                            validationMessage.removeClassName('hidden').addClassName('success')
                        } else {
                            validationMessage.removeClassName('hidden').addClassName('error')
                        }
                    } catch (e) {
                        validationMessage.removeClassName('hidden').addClassName('error')
                    }
                    validationMessage.update(result);
                }
            });
        }

        window.wavesRunSync = wavesRunSync;
//]]>

    });
</script>
<div class="actions">
    <div id="waves_run_result" class="message-validation hidden"></div>
    <button onclick="javascript:wavesRunSync(); return false;" type="button" id="<?php echo $block->getHtmlId() ?>">
        <span><?php echo $block->escapeHtml($block->getButtonLabel()) ?></span>
    </button>
</div>
