.sortable-group {
    width: 100%;
    display: flex;
    .list-container {
        width: 30%;
        h5 {
            font-size: 16px;
            margin-bottom: 0;
        }
        ul {
            list-style: none;
            margin-right: 10px;
            li {
                background-color: #eee;
                cursor: pointer;
                font-size: 14px;
                border: 1px solid black;
                margin: 5px;
                padding: 5px;
            }
        }
    }
}
