<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div attr="data.main.attributes" css="data.main.css" ko-style="data.main.style"><div attr="data.inside.attributes" class="bypass-html-filter" text="data.inside.html"></div></div>
