<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-html" event="{ mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false">
    <div class="placeholder-html-code" if="data.inside.html" attr="data.main.attributes" css="data.main.css" ko-style="data.main.style">
        <label>Identifier:</label> <span text="data.inside.html"></span><br/>
        <label>Title:</label> <span text="data.inside.title"></span>
    </div>
    <div class="placeholder-html-empty" ifnot="data.inside.html" attr="data.main.attributes" ko-style="data.main.style" translate="'Enter Nosto code'" css="data.main.css" >
    </div>
    <render args="getOptions().template" />
</div>
