@media only screen and (max-width: 767px) {
  .nav-open .nav-sections {
    z-index: 999 !important;
  }
}

body.page-products {

  :not(#eln-product-products) > .products.wrapper,
  .toolbar.toolbar-products:not(.eln-toolbar),
  .message.info.empty {
    opacity: 0;
  }

  div.eln-main-loader {
    background: url(../../Wyomind_ElasticsearchCore/images/loader.gif) no-repeat 50% 50% white;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: 100%;
    z-index: 999999;
    opacity: 0.5;
    //transition: display 2s ease;
    //&.hide {
    //  //transition: display 2s ease;
    //  display: none;
    //}
  }

  div.eln-main-content {
    margin-top: 20px;
    opacity: 1;
    position: relative;
    //display: none;
    div.eln-loader {
      background: url(../../Wyomind_ElasticsearchCore/images/loader.gif) no-repeat 50% 50% white;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: auto;
      height: 100%;
      z-index: 999999;
      opacity: 0.8;
      &.hide {
        display: none;
      }
    }
    // ultimo
    &.ultimo {
      div.products-list {
        li.item.product.product-item {
          margin-left: -1%;
          margin-right: -1%;
          padding-left: 1%;
          padding-right: 1%;

        }
      }
      span.product-image-wrapper {
        img {
          max-height: unset;
        }
      }
    }
    div.edd-loading {
      background: url(../../Wyomind_ElasticsearchCore/images/loader.gif);
      width: 100%;
      height: 20px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 20px 20px;
      margin-bottom: 20px !important;
    }
    div.estimatedDeliveryDate.message.success {
      margin-bottom: 20px !important;
    }
  }

  div.toolbar-products {
    &.hidden {
      display: none;
    }
    div.toolbar-sorter {
      a.action {
        &.sorter-action {
          display: none;
        }
        &.sorter-action.active {
          display: inline-block;
        }
      }
    }
    div.product-amount {
      float: left;
    }
  }
  div.product-paging {
    display: inline-block;
    div.pages {
      display: inline-block;
    }
  }
  div.field.limiter {
    display: inline-block;
    float: right;
    div.control {
      display: inline-block;
    }
  }
  div.products-grid { /* grid mod */
    ol.product-items {
      li.product-item {
        position: relative;
        //margin: 0px !important;
        &:hover {
          z-index: 3;
        }
        div.product-item-info {
          //max-width: unset;
          .eln-product-item-details {
            margin-left: 6px;

          }
        }
        .product-item-description {
          display: none;
        }
      }
    }
  }
  div.products-list { /* list mode */
    .product-item-description {
      display: block;
    }
    a.product.photo.product-item-photoproduct-image-photo {
      display: table-cell;
      padding: 0 30px 30px 0;
      vertical-align: top;
      width: 1%;
    }
  }
  #product-products {
    display: block;
  }
}

div.eln-infinite-scroll-loader {
  background: url(../../Wyomind_ElasticsearchCore/images/loader.gif);
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: none;
  &.active {
    display: block;
  }
}

div.eln-infinite-scroll-end {
  display: none;
  &.active {
    display: block;
  }
}

button#eln-manual-infinite-scroll {
  &.hidden {
    display: none;
  }
}

/* common to luma/ultimo */
.eln-message-options-error {
  display: none;
  font-size: 12px;
  padding: 10px;
  margin-left: -10px;
  color: red;
}

ol.product-items {
  li.product-item {
    p.old-price {
      span.price {
        text-decoration: line-through;
      }
    }
    //.product-image-wrapper {
    //  img {
    //    max-width: inherit;
    //    max-height: inherit;
    //  }
    //}
    div.loader {
      display: none;
      background: url(../../Wyomind_ElasticsearchCore/images/loader.gif) no-repeat 50% 50% white;
      opacity: 0.8;
      position: absolute;
      top: 0px;
      bottom: -40px;
      left: 0px;
      z-index: 99;
      right: -14px;
      &.active {
        display: block;
      }
    }
    div.ajax-cart-message {
      display: none;
      opacity: 0.9;
      position: absolute;
      margin-left: -3px;
      text-align: center;
      right: 7px;
      z-index: 99;
      left: 10px;
      &.visible {
        display: block;
      }
    }
    form.towishlist-form {
      display: inline-block;
      margin-left: 10px;
      a {
        cursor: pointer;
      }
    }
  }
}

/* DEBUG */

div.eln-debug {
  background: #FAFAFA;
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  left: 340px;
  z-index: 900;
  width: 250px;
  cursor: move;
  box-shadow: 0px 0px 15px -7px black;
  h3.title {
    margin-top: 0px;
    margin-bottom: 0px;
    &:after {
      margin-right: 10px;
      content: '\e622';
      font-family: EE-Icons;
      float: right;
    }
  }
  span.eln-debug-label {
    font-weight: bold;
    display: inline-block;
    width: 200px;
  }
  div#eln-debug {
    display: none;
  }
  span.eln-debug-yes {
    color: green;
  }
  span.eln-debug-no {
    color: red;
  }
  &.visible {
    h3.title {
      margin-bottom: 0px;
      &:after {
        content: '\e621';
      }
    }
    div#eln-debug {
      display: block;
    }
  }
  &.ultimo {
    h3.title {
      font-size: 18px;
    }
  }
}

.eln-template-hint-container {
  border: 1px dashed cadetblue;
  margin: 2px;
}

div.eln-template-hint {
  text-align: left;
  max-height: 55px;
  white-space: nowrap;
  padding: 2px;
  background: cadetblue;
  color: #ffffff;
  font-size: 10px;
  font-family: monospace;
  overflow: hidden;
  border: 1px solid white;
  &.selected {
    background: maroon;
  }
  &:hover {
    min-width: 400px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}