<?php
$themeHelper = $this->helper('Wyomind\ElasticsearchCore\Helper\Theme');
$dataHelper = $this->helper('Wyomind\ElasticsearchCore\Helper\Data');
$configHelper = $this->helper('Wyomind\ElasticsearchMultifacetedAutocomplete\Helper\Config');
$taxHelper = $this->helper('Wyomind\ElasticsearchCore\Helper\Tax');
$currencyHelper = $this->helper('Wyomind\ElasticsearchCore\Helper\Currency');
$helper = $this->helper('Magento\Search\Helper\Data');

$storeCode = $dataHelper->getCurrentStoreCode();
$storeId = $dataHelper->getCurrentStoreId();


$eaConfig = json_encode($configHelper->getEaConfig($storeId));
$emalabels = json_encode($configHelper->getLabels($storeId));

$filterableAttributes = $configHelper->getFilterableAttributesJson($storeId);

$displayReviews = $configHelper->getDisplayReviews($storeId);
$displayAddToCart = $configHelper->getDisplayAddToCart($storeId);
$displayAddToCompare = $configHelper->getDisplayAddToCompare($storeId);
$displayAddToWishlist = $configHelper->getDisplayAddToWishlist($storeId);
$displayEmailToAFriend = $configHelper->getDisplayEmailToAFriend($storeId);
$displayConfigurableOptions = $configHelper->getDisplayConfigurableOptions($storeId);
$displayInputBoxesForPriceFilter = $configHelper->getDisplayInputBoxesForPriceFilter($storeId);

$updateSearchTerm = $configHelper->getUpdateSearchTerm($storeId);

$isLayerUpdateEnabled = $configHelper->isLayerUpdateEnabled($storeId);
if ($isLayerUpdateEnabled) {
    $layerUpdateMethod = $configHelper->getLayerUpdateMethod($storeId);
} else {
    $layerUpdateMethod = -1;
}

$highlightEnabled = $configHelper->isHighlightEnabled($storeId);


$autocompleteUrl = $dataHelper->getElasticsearchUrl($storeCode);
$jsComponent = "wyoema";

$searchId = "search_" . rand(0, 999999);
$searchMiniFormId = "search_mini_form" . rand(0, 999999);

?>

<?php if (stripos($themeHelper->getThemeModel(),"infortis") !== false) : ?>
    <?php
    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // INFORTIS/ULTIMO
    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ?>
    <?php
    $theme = $this->helper('Infortis\Base\Helper\Data');

    $searchClasses = '';
    $mode = $theme->getCfgDesign('search/mode');
    if ($mode === 'e') {
        $searchClasses .= ' expanding';
    }

    $searchSize = $theme->getCfgDesign('search/size');
    if (!empty($searchSize)) {
        $searchClasses .= ' size-' . $searchSize;
    }
    ?>
    <div id="header-search" class="ultimo skip-content skip-content--style">
        <div id="block-search"
             class="block block-search search-wrapper<?php echo $searchClasses; ?>"> <?php /* @deprecated class "search-wrapper" */ ?>
            <div class="block block-title"><strong><?php /* @escapeNotVerified */
                    echo __('Search'); ?></strong></div>
            <div class="block block-content">
                <form class="form minisearch" id="<?= $searchMiniFormId ?>" action="<?php echo /* @escapeNotVerified */
                $helper->getResultUrl() ?>" method="get">
                    <div class="field search">
                        <?php /* <label class="label" for="search" data-role="minisearch-label">
                          <span><?php echo __('Search'); ?></span>
                          </label> */ ?>
                        <div class="control">
                            <input id="<?= $searchId ?>"
                                   data-mage-init='{"<?php echo $jsComponent; ?>":{
                                   "formSelector":"#<?= $searchMiniFormId ?>",
                                   "url":"<?php /* @escapeNotVerified */
                                   echo $autocompleteUrl; ?>",
                                    "cgiUrl": "<?php echo $block->getUrl("elasticsearchcore/update/cgi"); ?>",
                                   "storeCode":"<?php echo $storeCode; ?>",
                                   "searchUrl":"<?php echo $helper->getResultUrl(); ?>",
                                   "filterableAttributes": <?= $filterableAttributes ?>,
                                   "displayReviews": <?= $displayReviews ? 'true' : 'false' ?>,
                                   "displayAddToCart": <?= $displayAddToCart ? 'true' : 'false' ?>,
                                   "displayAddToCompare": <?= $displayAddToCompare ? 'true' : 'false' ?>,
                                   "displayAddToWishlist": <?= $displayAddToWishlist ? 'true' : 'false' ?>,
                                   "displayEmailToAFriend": <?= $displayEmailToAFriend ? 'true' : 'false' ?>,
                                   "displayConfigurableOptions": <?= $displayConfigurableOptions ? 'true' : 'false' ?>,
                                   "displayInputBoxesForPriceFilter" : <?= $displayInputBoxesForPriceFilter ? 'true' : 'false' ?>,
                                    "layerUpdateMethod": "<?= $layerUpdateMethod ?>",
                                    "eaConfig": <?= $eaConfig ?>,
                                    "labels": <?= $emalabels ?>,
                                    "highlightEnabled": <?= $highlightEnabled ? 'true' : 'false' ?>,
                                    "noProductMessage":"<?= __('No product found'); ?>",
                                    "destinationSelector": "#search_autocomplete",
                                    "updateSearchTerm": <?= $updateSearchTerm?1:0; ?>,
                                    "updateSearchTermUrl": "<?= $block->getUrl('elasticsearchcore/searchTerm/add'); ?>"}}'
                                   type="text"
                                   name="<?php /* @escapeNotVerified */
                                   echo $helper->getQueryParamName() ?>"
                                   value="<?php /* @escapeNotVerified */
                                   echo $helper->getEscapedQueryText() ?>"
                                   placeholder="<?php /* @escapeNotVerified */
                                   echo __('Search entire store here...'); ?>"
                                   class="input-text"
                                   maxlength="<?php /* @escapeNotVerified */
                                   echo $helper->getMaxQueryLength(); ?>"
                                   role="combobox"
                                   aria-haspopup="false"
                                   aria-autocomplete="both"
                                   autocomplete="off"/>
                            <?php echo $block->getChildHtml() ?>
                        </div>
                    </div>
                    <div class="actions">
                        <button id="action-search" type="submit"
                                title="<?php echo $block->escapeHtml(__('Search')) ?>"
                                class="action search">
                            <span class="icon ic ic-search ib ib-square ib-hover"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div> <!-- end: block-search -->
        <?php if ($mode === 'e'): ?>
            <script type="text/javascript">
                //<![CDATA[
                requirejs(['jquery', 'expandingsearch'], function (jQuery, expandingsearch) {
                    jQuery(function ($) {
                        $('#block-search').expandingsearch();
                    });
                }); //end: requirejs
                //]]>
            </script>
        <?php endif; ?>
    </div>

<?php elseif ($themeHelper->getThemeModel() == "Sm/smarket") : ?>
    <div id="sm_searchbox" class="sm-searchbox">
        <div class="sm-searchbox-content">
            <form class="form minisearch active" id="<?= $searchMiniFormId ?>" action="<?php /* @escapeNotVerified */
            echo $helper->getResultUrl() ?>" method="get">
                <div class="field searchbox">
                    <div class="control">
                        <input id="<?= $searchId ?>"
                               data-mage-init='{"<?php echo $jsComponent; ?>": {
                               "formSelector": "#<?= $searchMiniFormId ?>",
                               "url":"<?php /* @escapeNotVerified */
                               echo $autocompleteUrl ?>",
                               "searchUrl":"<?php echo $helper->getResultUrl(); ?>",
                               "cgiUrl": "<?php echo $block->getUrl("elasticsearchcore/update/cgi"); ?>",
                               "storeCode":"<?php echo $storeCode; ?>",
                               "filterableAttributes": <?= $filterableAttributes ?>,
                               "displayReviews": <?= $displayReviews ? 'true' : 'false' ?>,
                               "displayAddToCart": <?= $displayAddToCart ? 'true' : 'false' ?>,
                               "displayAddToCompare": <?= $displayAddToCompare ? 'true' : 'false' ?>,
                               "displayAddToWishlist": <?= $displayAddToWishlist ? 'true' : 'false' ?>,
                               "displayEmailToAFriend": <?= $displayEmailToAFriend ? 'true' : 'false' ?>,
                               "displayConfigurableOptions": <?= $displayConfigurableOptions ? 'true' : 'false' ?>,
                               "displayInputBoxesForPriceFilter" : <?= $displayInputBoxesForPriceFilter ? 'true' : 'false'; ?>,
                               "layerUpdateMethod": "<?= $layerUpdateMethod ?>",
                               "eaConfig": <?= $eaConfig ?>,
                               "labels": <?= $emalabels ?>,
                               "highlightEnabled": <?= $highlightEnabled ? 'true' : 'false' ?>,
                               "noProductMessage":"<?= __('No product found'); ?>",
                               "destinationSelector": "#search_autocomplete",
                                "updateSearchTerm": <?= $updateSearchTerm?1:0; ?>,
                                "updateSearchTermUrl": "<?= $block->getUrl('elasticsearchcore/searchTerm/add'); ?>"
                                }}'
                               type="text"
                               name="<?php /* @escapeNotVerified */
                               echo $helper->getQueryParamName() ?>"
                               value="<?php /* @escapeNotVerified */
                               echo $helper->getEscapedQueryText() ?>"
                               placeholder="<?php /* @escapeNotVerified */
                               echo __('Search entire store here...'); ?>"
                               class="input-text"
                               maxlength="<?php /* @escapeNotVerified */
                               echo $helper->getMaxQueryLength(); ?>"
                               role="combobox"
                               aria-haspopup="false"
                               aria-autocomplete="both"
                               autocomplete="off"/>
                        <?php echo $block->getChildHtml() ?>
                    </div>
                </div>
                <div class="actions">
                    <button type="submit" title="Search" class="btn-searchbox" disabled="">
                        <span>Search</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
<?php else: ?>
    <?php
    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // DEFAULT (LUMA)
    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ?>
    <div class="block-search">
        <div class="block-title"><strong><?php /* @escapeNotVerified */
                echo __('Search'); ?></strong></div>
        <div class="block block-content">
            <form class="form minisearch " id="<?= $searchMiniFormId; ?>"
                  action="<?php /* @escapeNotVerified */
                  echo $helper->getResultUrl() ?>" method="get">
                <div class="field search">
                    <label class="label" for="<?= /* @noEscape */ $searchId; ?>" data-role="minisearch-label">
                    </label>
                    <div class="control">
                        <input id="<?= $searchId; ?>"
                               data-mage-init='{"<?php echo $jsComponent; ?>":{
                              "formSelector":"#<?= $searchMiniFormId; ?>",
                              "url":"<?= /* @escapeNotVerified */
                               $autocompleteUrl ?>",
                              "searchUrl":"<?php echo $helper->getResultUrl(); ?>",
                              "cgiUrl": "<?php echo $block->getUrl("elasticsearchcore/update/cgi"); ?>",
                              "storeCode":"<?php echo $storeCode; ?>",
                              "filterableAttributes": <?= $filterableAttributes ?>,
                               "displayReviews": <?= $displayReviews ? 'true' : 'false' ?>,
                               "displayAddToCart": <?= $displayAddToCart ? 'true' : 'false' ?>,
                               "displayAddToCompare": <?= $displayAddToCompare ? 'true' : 'false' ?>,
                               "displayAddToWishlist": <?= $displayAddToWishlist ? 'true' : 'false' ?>,
                               "displayEmailToAFriend": <?= $displayEmailToAFriend ? 'true' : 'false' ?>,
                               "displayConfigurableOptions": <?= $displayConfigurableOptions ? 'true' : 'false' ?>,
                               "displayInputBoxesForPriceFilter" : <?= $displayInputBoxesForPriceFilter ? 'true' : 'false'; ?>,
                               "layerUpdateMethod": "<?= $layerUpdateMethod ?>",
                               "eaConfig": <?= $eaConfig ?>,
                               "labels": <?= $emalabels ?>,
                               "highlightEnabled": <?= $highlightEnabled ? 'true' : 'false' ?>,
                               "noProductMessage":"<?= __('No product found'); ?>",
                              "destinationSelector":"#search_autocomplete",
                                "updateSearchTerm": <?= $updateSearchTerm?1:0; ?>,
                                "updateSearchTermUrl": "<?= $block->getUrl('elasticsearchcore/searchTerm/add'); ?>"
                              }
                         }'
                               type="text"
                               name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
                               value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
                               placeholder="<?php /* @escapeNotVerified */ echo __('Search entire store here...'); ?>"
                               class="input-text"
                               maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength(); ?>"
                               role="combobox"
                               aria-haspopup="false"
                               aria-autocomplete="both"
                               autocomplete="off"/>
                        <?= /* @noEscape */ $block->getChildHtml() ?>
                    </div>
                </div>
                <div class="actions">
                    <button type="submit"
                            title="<?= /* @noEscape */ $block->escapeHtml(__('Search')) ?>"
                            class="action search">
                    <span><?php /* @escapeNotVerified */
                        echo __('Search'); ?></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
<?php endif; ?>


<?php
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// COMMON
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
?>

<script>
    require(['underscore', 'Magento_Catalog/js/price-utils'], function (_, utils) {
        _.mixin({
            getBaseUrl: function () {
                return '<?php echo $block->getBaseUrl() ?>';
            },
            getSearchUrl: function () {
                return '<?php echo $helper->getResultUrl(); ?>';
            },
            getFormattedPrice: function (price, productTaxClassId) {
                return _.formatPrice(_.calculateTax(_.convertPrice(price), productTaxClassId));
            },
            formatPrice: function (price) {
                var priceFormat = <?php /* @escapeNotVerified */ echo $this->helper('Magento\Tax\Helper\Data')->getPriceFormat($block->getStore()); ?>;

                return utils.formatPrice(price, priceFormat);
            },
            calculateTax: function (price, productTaxClassId) {
                var needPriceConversion = <?php echo $taxHelper->needPriceConversion() ? 'true' : 'false' ?>;
                var taxRates = <?php /* @escapeNotVerified */ echo json_encode($taxHelper->getRates()) ?>;

                if (!needPriceConversion || !taxRates[productTaxClassId]) {
                    return price;
                }

                var rate = taxRates[productTaxClassId] / 100;
                var priceIncludesTax = <?php echo $taxHelper->priceIncludesTax() ? 'true' : 'false' ?>;

                if (priceIncludesTax) {
                    return price / (1 + rate);
                }

                return price + price * rate;
            },
            convertPrice: function (price) {
                var rate = <?php echo $currencyHelper->getCurrentCurrencyRate() ?>;

                return price * rate;
            }
        });
    });
</script>






