<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="data-grid-cell-contenttemplate/product/grid/cell/salable-quantity.html ">
    <ul data-bind="foreach: { data: $col.getSalableQuantityData($row()), as: '$salableQuantityData' }">
        <li style="list-style: none">
            <!-- ko if: !$salableQuantityData.manage_stock -->
            <span data-bind="i18n: 'No manage stock'"></span>
            <!-- /ko -->
            <!-- ko if: $salableQuantityData.manage_stock -->
            <span data-bind="text: $salableQuantityData.qty"></span>
            <!-- /ko -->
        </li>
    </ul>
</div>
